Repository aws-amplify/amplify-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-js, @aws-amplify/amplify-ui, @aws-amplify/amplify-js-admins, @aws-amplify/amplify-devops, @cshfang, @HuiSF, @ashika112, @maxbeck-amzn, @calebpollman

.github/CODEOWNERS:

* @aws-amplify/amplify-js
/packages/api @aws-amplify/amplify-js
/packages/api-graphql @aws-amplify/amplify-js
/packages/api-rest @aws-amplify/amplify-js
/packages/core @aws-amplify/amplify-js
/packages/datastore @aws-amplify/amplify-js
/packages/datastore-storage-adapter @aws-amplify/amplify-js
/packages/geo @aws-amplify/amplify-js @aws-amplify/amplify-ui
/packages/pubsub @aws-amplify/amplify-js
/packages/aws-amplify/package.json @aws-amplify/amplify-js-admins
/packages/storage/src/storageBrowser @aws-amplify/amplify-js @aws-amplify/amplify-ui
/packages/storage/storage-browser @aws-amplify/amplify-js @aws-amplify/amplify-ui
/.circleci/ @aws-amplify/amplify-js @aws-amplify/amplify-devops
/.github/ @aws-amplify/amplify-js-admins

# The following paths involve server-side use cases, token/user session management.
# Changes made to these paths requires additional reviews and approvals.
/packages/auth @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/aws-amplify/src/adapter-core @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/core/src/adapterCore @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/core/src/singleton @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/core/src/utils/convert @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/core/src/utils/WordArray.ts @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/core/src/storage @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/core/src/utils/generateRandomString.ts @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/core/src/utils/globalHelpers @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/core/src/utils/urlSafeDecode.ts @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/core/src/awsClients/cognitoIdentity @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/core/src/clients/internal @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/core/src/Hub @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/adapter-nextjs @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/rtn-web-browser @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/storage/src/providers/s3/apis/internal @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/storage/src/providers/s3/apis/server @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/api-rest/src/apis/server.ts @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/api-rest/src/apis/common/internalPost.ts @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/api-graphql/src/server @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman
/packages/api-graphql/src/internals/server @cshfang @HuiSF @ashika112 @maxbeck-amzn @calebpollman

fix(api-graphql): correct function name from generateServerClient to generateClient in example
  packages/api-graphql/src/server/generateClient.ts
  packages/api-graphql/src/types/index.ts
Owners: @cshfang, @HuiSF, @ashika112, @maxbeck-amzn, @calebpollman, @aws-amplify/amplify-js

chore: use yarn berry
  .gitignore
  .yarnrc.yml
  package.json
  packages/api-rest/package.json
  packages/storage/package.json
  yarn.lock
Owners: @aws-amplify/amplify-js

chore: run e2e test
  .github/workflows/push-integ-test.yml
Owners: @aws-amplify/amplify-js-admins

chore: yarn set berry in GH actions
  .github/actions/node-and-build/action.yml
  .github/actions/set_yarn_berry/action.yml
Owners: @aws-amplify/amplify-js-admins

update docs workflow
  .github/workflows/callable-docs-update.yml
Owners: @aws-amplify/amplify-js-admins

split code up to separate steps
  .github/workflows/callable-docs-update.yml
Owners: @aws-amplify/amplify-js-admins

chore: export graphql types
  packages/aws-amplify/package.json
  packages/aws-amplify/src/api/index.ts
Owners: @aws-amplify/amplify-js-admins, @aws-amplify/amplify-js

[Chore] Update API docs workflow (#14345)
  .github/workflows/callable-docs-update.yml
Owners: @aws-amplify/amplify-js-admins

chore: remove new package.json changes
  packages/api/src/index.ts
  packages/aws-amplify/package.json
  packages/aws-amplify/src/api/index.ts
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-js-admins
