Repository aws-amplify/amplify-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @aws-amplify/amplify-js, @aws-amplify/amplify-data, @aws-amplify/amplify-ui, @aws-amplify/amplify-js-admins, @aws-amplify/amplify-devops, @haverchuck, @cshfang, @HuiSF, @pranavosu

chore: resolve comments
  packages/adapter-nextjs/src/utils/createRunWithAmplifyServerContext.ts
  packages/aws-amplify/src/adapter-core/storageFactories/createKeyValueStorageFromCookieStorageAdapter.ts
Owners: @haverchuck, @cshfang, @HuiSF, @pranavosu

chore(release): Set core metadata [skip release]
  packages/core/metadata
Owners: @aws-amplify/amplify-js, @aws-amplify/amplify-data

chore(release): Publish [skip release]
  packages/adapter-nextjs/CHANGELOG.md
  packages/adapter-nextjs/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/api-graphql/CHANGELOG.md
  packages/api-graphql/package.json
  packages/api-rest/CHANGELOG.md
  packages/api-rest/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/auth/CHANGELOG.md
  packages/auth/package.json
  packages/aws-amplify/CHANGELOG.md
  packages/aws-amplify/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/datastore-storage-adapter/CHANGELOG.md
  packages/datastore-storage-adapter/package.json
  packages/datastore/CHANGELOG.md
  packages/datastore/package.json
  packages/geo/CHANGELOG.md
  packages/geo/package.json
  packages/interactions/CHANGELOG.md
  packages/interactions/package.json
  packages/notifications/CHANGELOG.md
  packages/notifications/package.json
  packages/predictions/CHANGELOG.md
  packages/predictions/package.json
  packages/pubsub/CHANGELOG.md
  packages/pubsub/package.json
  packages/storage/CHANGELOG.md
  packages/storage/package.json
  scripts/tsc-compliance-test/CHANGELOG.md
  scripts/tsc-compliance-test/package.json
Owners: @haverchuck, @cshfang, @HuiSF, @pranavosu, @aws-amplify/amplify-js, @aws-amplify/amplify-data, @aws-amplify/amplify-js-admins, @aws-amplify/amplify-ui

chore(release): Update API docs [skip release]
  docs/api/assets/navigation.js
  docs/api/assets/search.js
  docs/api/enums/aws_amplify.datastore._Reference_Types_.AuthAction.html
  docs/api/functions/aws_amplify.auth.associateWebAuthnCredential.html
  docs/api/functions/aws_amplify.auth.deleteWebAuthnCredential.html
  docs/api/functions/aws_amplify.auth.listWebAuthnCredentials.html
  docs/api/interfaces/aws_amplify.auth.AuthWebAuthnCredential.html
  docs/api/interfaces/aws_amplify.auth.DeleteWebAuthnCredentialInput.html
  docs/api/interfaces/aws_amplify.auth.ListWebAuthnCredentialsInput.html
  docs/api/interfaces/aws_amplify.auth.ListWebAuthnCredentialsOutput.html
  docs/api/interfaces/aws_amplify.auth._Reference_Types_.AuthSignUpInput.html
  docs/api/interfaces/aws_amplify.auth._Reference_Types_.ConfirmSignInWithPassword.html
  docs/api/interfaces/aws_amplify.auth._Reference_Types_.ContinueSignInWithFirstFactorSelection.html
  docs/api/modules/_aws_amplify_adapter_nextjs.html
  docs/api/modules/_aws_amplify_datastore_storage_adapter.html
  docs/api/modules/_aws_amplify_geo.html
  docs/api/modules/_aws_amplify_interactions.html
  docs/api/modules/_aws_amplify_predictions.html
  docs/api/modules/_aws_amplify_pubsub.html
  docs/api/modules/aws_amplify.auth._Reference_Types_.html
  docs/api/modules/aws_amplify.auth.html
  docs/api/modules/aws_amplify.html
  docs/api/types/aws_amplify.auth._Reference_Types_.AuthFactorType.html
  docs/api/types/aws_amplify.auth._Reference_Types_.AuthFlowType-1.html
  docs/api/types/aws_amplify.auth._Reference_Types_.AuthNextSignInStep.html
  docs/api/types/aws_amplify.auth._Reference_Types_.ChallengeName.html
  docs/api/types/aws_amplify.auth._Reference_Types_.SignInOptions.html
Owners: @aws-amplify/amplify-js

Fix test errors
  packages/api-graphql/src/internals/v6.ts
  packages/api-graphql/src/types/index.ts
  packages/datastore/src/types.ts
Owners: @aws-amplify/amplify-data

feat(auth): enable parallel otp runs (#14034)
  .github/integ-config/integ-all.yml
Owners: @aws-amplify/amplify-js-admins

.github/CODEOWNERS:

* @aws-amplify/amplify-js
/packages/api @aws-amplify/amplify-js @aws-amplify/amplify-data
/packages/api-graphql @aws-amplify/amplify-data
/packages/api-rest @aws-amplify/amplify-js @aws-amplify/amplify-data
/packages/core @aws-amplify/amplify-js @aws-amplify/amplify-data
/packages/datastore @aws-amplify/amplify-data
/packages/datastore-storage-adapter @aws-amplify/amplify-data
/packages/geo @aws-amplify/amplify-js @aws-amplify/amplify-ui
/packages/pubsub @aws-amplify/amplify-js @aws-amplify/amplify-data
/packages/aws-amplify/package.json @aws-amplify/amplify-js-admins
/packages/storage/src/storageBrowser @aws-amplify/amplify-js @aws-amplify/amplify-ui
/packages/storage/storage-browser @aws-amplify/amplify-js @aws-amplify/amplify-ui
/.circleci/ @aws-amplify/amplify-js @aws-amplify/amplify-devops
/.github/ @aws-amplify/amplify-js-admins

# The following paths involve server-side use cases, token/user session management.
# Changes made to these paths requires additional reviews and approvals.
/packages/auth @haverchuck @cshfang @HuiSF @pranavosu
/packages/aws-amplify/src/adapter-core @haverchuck @cshfang @HuiSF @pranavosu
/packages/core/src/adapterCore @haverchuck @cshfang @HuiSF @pranavosu
/packages/core/src/singleton @haverchuck @cshfang @HuiSF @pranavosu
/packages/core/src/utils/convert @haverchuck @cshfang @HuiSF @pranavosu
/packages/core/src/utils/WordArray.ts @haverchuck @cshfang @HuiSF @pranavosu
/packages/core/src/storage @haverchuck @cshfang @HuiSF @pranavosu
/packages/core/src/utils/generateRandomString.ts @haverchuck @cshfang @HuiSF @pranavosu
/packages/core/src/utils/globalHelpers @haverchuck @cshfang @HuiSF @pranavosu
/packages/core/src/utils/urlSafeDecode.ts @haverchuck @cshfang @HuiSF @pranavosu
/packages/core/src/awsClients/cognitoIdentity @haverchuck @cshfang @HuiSF @pranavosu
/packages/core/src/clients/internal @haverchuck @cshfang @HuiSF @pranavosu
/packages/core/src/Hub @haverchuck @cshfang @HuiSF @pranavosu
/packages/adapter-nextjs @haverchuck @cshfang @HuiSF @pranavosu
/packages/rtn-web-browser @haverchuck @cshfang @HuiSF @pranavosu
/packages/storage/src/providers/s3/apis/internal @haverchuck @cshfang @HuiSF @pranavosu
/packages/storage/src/providers/s3/apis/server @haverchuck @cshfang @HuiSF @pranavosu
/packages/api-rest/src/apis/server.ts @haverchuck @cshfang @HuiSF @pranavosu
/packages/api-rest/src/apis/common/internalPost.ts @haverchuck @cshfang @HuiSF @pranavosu
/packages/api-graphql/src/server @haverchuck @cshfang @HuiSF @pranavosu
/packages/api-graphql/src/internals/server @haverchuck @cshfang @HuiSF @pranavosu
