Repository aws-amplify/amplify-js, pull requests merged in 2018-10, with the labels that each got.

#1786 fixes #1785
  packages/analytics/src/vendor/dom-utils/matches.ts
Labels: review

#1799 removed usage of angular style sheet
  packages/aws-amplify-vue/src/Amplify.vue
  packages/aws-amplify-vue/src/components/interactions/Chatbot.vue
  packages/aws-amplify-vue/src/components/storage/S3Album.vue
  packages/aws-amplify-vue/src/components/storage/S3Image.vue
Labels: review

#1802 fix for issue 1790
  packages/analytics/src/Providers/AWSPinpointProvider.ts
  packages/core/src/RNComponents/index.ts
Labels: review

#1803 Federated button i18n
  packages/amplify-ui/src/Button.css
  packages/aws-amplify-react/src/Auth/Provider/withAmazon.jsx
  packages/aws-amplify-react/src/Auth/Provider/withFacebook.jsx
  packages/aws-amplify-react/src/Auth/Provider/withGoogle.jsx
  packages/aws-amplify-react/src/Auth/Provider/withOAuth.jsx
Labels: review

#1810 Update vue_guide.md
  docs/media/vue_guide.md
Labels: review

#1818 use JS.browserOrNode().isBrowser to check window object
  packages/analytics/src/trackers/EventTracker.ts
  packages/analytics/src/trackers/PageViewTracker.ts
  packages/analytics/src/trackers/SessionTracker.ts
  packages/analytics/src/vendor/dom-utils/matches.ts
  packages/analytics/src/vendor/dom-utils/parse-url.ts
  packages/auth/src/Auth.ts
  packages/core/src/OAuthHelper/FacebookOAuth.ts
  packages/core/src/OAuthHelper/GoogleOAuth.ts
  packages/core/src/ServiceWorker/ServiceWorker.ts
Labels: review

#1820 Update version numbers
  packages/amazon-cognito-identity-js/CHANGELOG.md
  packages/amazon-cognito-identity-js/package.json
  packages/amplify-ui/CHANGELOG.md
  packages/amplify-ui/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/auth/CHANGELOG.md
  packages/auth/package.json
  packages/aws-amplify-angular/CHANGELOG.md
  packages/aws-amplify-angular/package.json
  packages/aws-amplify-react-native/CHANGELOG.md
  packages/aws-amplify-react-native/package.json
  packages/aws-amplify-react/CHANGELOG.md
  packages/aws-amplify-react/package.json
  packages/aws-amplify-vue/CHANGELOG.md
  packages/aws-amplify-vue/package.json
  packages/aws-amplify/CHANGELOG.md
  packages/aws-amplify/package.json
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/interactions/CHANGELOG.md
  packages/interactions/package.json
  packages/pubsub/CHANGELOG.md
  packages/pubsub/package.json
  packages/pushnotification/CHANGELOG.md
  packages/pushnotification/package.json
  packages/storage/CHANGELOG.md
  packages/storage/package.json
  packages/xr/CHANGELOG.md
  packages/xr/package.json
Labels: review

#1821 fix(@aws-amplify/pubsub): paho-mqtt typescript
  packages/pubsub/src/Providers/MqttOverWSProvider.ts
  packages/pubsub/src/vendor/paho-mqtt.js
Labels: review

#1829 fixes(#1826)
  packages/aws-amplify-react/src/Auth/FederatedSignIn.jsx
Labels: review

#1833 Use correct version # for User Agent constant
  .circleci/config.yml
  packages/core/src/Platform/index.ts
  packages/xr/src/Providers/SumerianProvider.ts
Labels: review

#1835 lic issue
  packages/aws-amplify-vue/LICENSE
  packages/aws-amplify-vue/package.json
Labels: review

#1843 merge master into release
  .circleci/config.yml
  packages/amazon-cognito-identity-js/CHANGELOG.md
  packages/amazon-cognito-identity-js/package.json
  packages/amplify-ui/CHANGELOG.md
  packages/amplify-ui/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/auth/CHANGELOG.md
  packages/auth/package.json
  packages/aws-amplify-angular/CHANGELOG.md
  packages/aws-amplify-angular/package.json
  packages/aws-amplify-react-native/CHANGELOG.md
  packages/aws-amplify-react-native/package.json
  packages/aws-amplify-react/CHANGELOG.md
  packages/aws-amplify-react/package.json
  packages/aws-amplify-react/src/Auth/FederatedSignIn.jsx
  packages/aws-amplify-vue/CHANGELOG.md
  packages/aws-amplify-vue/LICENSE
  packages/aws-amplify-vue/package.json
  packages/aws-amplify/CHANGELOG.md
  packages/aws-amplify/package.json
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/core/src/Platform/index.ts
  packages/interactions/CHANGELOG.md
  packages/interactions/package.json
  packages/pubsub/CHANGELOG.md
  packages/pubsub/package.json
  packages/pubsub/src/Providers/MqttOverWSProvider.ts
  packages/pubsub/src/vendor/paho-mqtt.js
  packages/pushnotification/CHANGELOG.md
  packages/pushnotification/package.json
  packages/storage/CHANGELOG.md
  packages/storage/package.json
  packages/xr/CHANGELOG.md
  packages/xr/package.json
  packages/xr/src/Providers/SumerianProvider.ts
Labels: review

#1845 Merge release back to master
  packages/amazon-cognito-identity-js/CHANGELOG.md
  packages/amazon-cognito-identity-js/package.json
  packages/amplify-ui/CHANGELOG.md
  packages/amplify-ui/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/auth/CHANGELOG.md
  packages/auth/package.json
  packages/aws-amplify-angular/CHANGELOG.md
  packages/aws-amplify-angular/package.json
  packages/aws-amplify-react-native/CHANGELOG.md
  packages/aws-amplify-react-native/package.json
  packages/aws-amplify-react/CHANGELOG.md
  packages/aws-amplify-react/package.json
  packages/aws-amplify-vue/CHANGELOG.md
  packages/aws-amplify-vue/package.json
  packages/aws-amplify/CHANGELOG.md
  packages/aws-amplify/package.json
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/interactions/CHANGELOG.md
  packages/interactions/package.json
  packages/pubsub/CHANGELOG.md
  packages/pubsub/package.json
  packages/pushnotification/CHANGELOG.md
  packages/pushnotification/package.json
  packages/storage/CHANGELOG.md
  packages/storage/package.json
  packages/xr/CHANGELOG.md
  packages/xr/package.json
Labels: review

#1804 for issue 1761
  packages/core/src/Credentials.ts
Labels: review

#1851 fix(@aws-amplify/core): fix aws-sdk version to 2.329.0
  packages/core/package.json
Labels: review

#1863 fix(aws-amplify-react): jump to the initial state if not signed in
  packages/aws-amplify-react-native/src/Auth/Authenticator.js
  packages/aws-amplify-react/src/Auth/Authenticator.jsx
Labels: review

#1862 fix(@aws-amplify/auth): throw error when failed to sync items from AsyncStorage into Memory
  packages/auth/src/Auth.ts
  packages/core/src/Credentials.ts
Labels: review

#1881 fixes(#1861)
  packages/aws-amplify-vue/src/components/authenticator/Authenticator.vue
Labels: review

#1540 Fix refreshFacebookToken for API request which are not user initiated
  packages/core/src/OAuthHelper/FacebookOAuth.ts
Labels: review

#1925 remove aws-sdk dependency
  packages/analytics/package.json
  packages/interactions/package.json
  packages/storage/package.json
  packages/xr/package.json
Labels: review

#1830 Added ability to track progress of S3 uploads
  packages/storage/__tests__/Storage-unit-test.ts
  packages/storage/src/Storage.ts
Labels: review

#1913 fix(storage): Update JSDoc to clarify that Storage.get can return a P…
  packages/storage/src/Storage.ts
Labels: review

#1868 fix(aws-amplify-react aws-amplify-react-native): Connect component
  packages/aws-amplify-react-native/src/API/GraphQL/Connect.js
  packages/aws-amplify-react/src/API/GraphQL/Connect.js
Labels: GraphQL, review

#1982 Amplify React Signout Refactor
  packages/aws-amplify-react/__tests__/Amplify-UI/Amplify-UI-Components-React-test.js
  packages/aws-amplify-react/__tests__/Amplify-UI/__snapshots__/Amplify-UI-Components-React-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/Greetings-test.js
  packages/aws-amplify-react/__tests__/Auth/Provider/__snapshots__/withAmazon-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/Provider/__snapshots__/withFacebook-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/Provider/__snapshots__/withGoogle-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/Provider/withAmazon-test.js
  packages/aws-amplify-react/__tests__/Auth/Provider/withFacebook-test.js
  packages/aws-amplify-react/__tests__/Auth/Provider/withGoogle-test.js
  packages/aws-amplify-react/__tests__/Auth/SignOut-test.js
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/FederatedSignIn-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/Greetings-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/RequireNewPassword-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/SignOut-test.js.snap
  packages/aws-amplify-react/__tests__/Widget/__snapshots__/PhotoPicker-test.js.snap
  packages/aws-amplify-react/__tests__/Widget/__snapshots__/Picker-test.js.snap
  packages/aws-amplify-react/__tests__/Widget/__snapshots__/SelectMFAType-test.js.snap
  packages/aws-amplify-react/__tests__/Widget/__snapshots__/TOTPSetupComp-test.js.snap
  packages/aws-amplify-react/src/Auth/Authenticator.jsx
  packages/aws-amplify-react/src/Auth/Greetings.jsx
  packages/aws-amplify-react/src/Auth/Provider/withAmazon.jsx
  packages/aws-amplify-react/src/Auth/Provider/withFacebook.jsx
  packages/aws-amplify-react/src/Auth/Provider/withGoogle.jsx
  packages/aws-amplify-react/src/Auth/SignOut.jsx
  packages/aws-amplify-react/src/Auth/common/constants.js
  packages/aws-amplify-react/src/Auth/index.jsx
Labels: review

#1957 Auth0 federated sign in
  packages/amplify-ui/src/Button.css
  packages/auth/__tests__/auth-unit-test.ts
  packages/auth/src/Auth.ts
  packages/auth/src/types/Auth.ts
  packages/aws-amplify-react/__tests__/Auth/Provider/__snapshots__/withAuth0-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/Provider/withAuth0-test.js
  packages/aws-amplify-react/__tests__/Auth/Provider/withOAuth-test.js
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/FederatedSignIn-test.js.snap
  packages/aws-amplify-react/src/Auth/FederatedSignIn.jsx
  packages/aws-amplify-react/src/Auth/Greetings.jsx
  packages/aws-amplify-react/src/Auth/Provider/index.jsx
  packages/aws-amplify-react/src/Auth/Provider/withAmazon.jsx
  packages/aws-amplify-react/src/Auth/Provider/withAuth0.jsx
  packages/aws-amplify-react/src/Auth/Provider/withFacebook.jsx
  packages/aws-amplify-react/src/Auth/Provider/withGoogle.jsx
  packages/aws-amplify-react/src/Auth/Provider/withOAuth.jsx
  packages/aws-amplify-react/src/Auth/SignIn.jsx
  packages/aws-amplify-react/src/Auth/SignOut.jsx
Labels: Auth, review

#1890 fix(aws-amplify-react): pass the user name when signin error happens
  packages/aws-amplify-react/src/Auth/SignIn.jsx
Labels: Auth, React, review

#1995 Cancel requesting credentials on sign out
  packages/auth/src/Auth.ts
Labels: review

#1942 fix(aws-amplify-react): show the link of create account when using customized signup component
  packages/aws-amplify-react/src/Auth/Authenticator.jsx
  packages/aws-amplify-react/src/Auth/SignIn.jsx
Labels: UI, review

#2002 Fix misnamed function call
  packages/aws-amplify-angular/src/components/authenticator/forgot-password-component/forgot-password.component.ionic.ts
Labels: review

#2015 Pass theme from withAuthenticator to Authenticator component
  packages/amplify-ui/src/Toast.css
  packages/aws-amplify-react/src/Amplify-UI/Amplify-UI-Components-React.jsx
  packages/aws-amplify-react/src/Amplify-UI/Amplify-UI-Theme.jsx
  packages/aws-amplify-react/src/Auth/Authenticator.jsx
  packages/aws-amplify-react/src/Auth/index.jsx
Labels: review

#2017 Js transfer key to lowercase
  packages/core/__tests__/JS-test.ts
  packages/core/src/JS.ts
  packages/core/tsconfig.json
Labels: review

#1964 Showing Toast optional for errors
  packages/aws-amplify-react/src/Auth/Authenticator.jsx
Labels: review
