Repository aws-amplify/amplify-js, pull requests merged in 2018-11, with the labels that each got.

#2030 Hide Toast component when auth state changes
  packages/aws-amplify-react/src/Auth/Authenticator.jsx
Labels: review

#1801 feat(@aws-amplify/analytics): allow users to fully configure pinpoint endpoint
  docs/media/analytics_guide.md
  packages/analytics/__tests__/Providers/AWSAnalyticsProvider-unit-test.ts
  packages/analytics/src/Providers/AWSPinpointProvider.ts
  packages/analytics/src/index.ts
Labels: Analytics, bug, review

#2038 bumping versions
  packages/amplify-ui/package.json
  packages/aws-amplify-angular/package.json
  packages/aws-amplify-react-native/package.json
  packages/aws-amplify-react/package.json
  packages/aws-amplify-react/src/Auth/SignUp.jsx
  packages/aws-amplify-vue/package.json
Labels: review

#1990 Update README.md
  README.md
Labels: review

#1996 update facebook sign in to get email together with name
  packages/aws-amplify-react/__tests__/Auth/Provider/withFacebook-test.js
  packages/aws-amplify-react/src/Auth/Provider/withFacebook.jsx
Labels: review

#2050 fix(aws-amplify-react): only call Auth signOut if some error happens during signed in
  packages/aws-amplify-react/src/Auth/Authenticator.jsx
Labels: review

#2027 fix(@aws-amplify/core): use existing methods to load localStorage
  packages/core/src/RNComponents/index.ts
Labels: review

#2016 fix(@aws-amplify/analytics): send session stop events when app turns into background/inactive
  packages/analytics/__tests__/trackers/SessionTracker-rn-test.ts
  packages/analytics/src/trackers/SessionTracker-rn.ts
Labels: review

#2060 I18n test branch
  package-lock.json
  packages/aws-amplify-vue/__mocks__/Amplify.mocks.js
  packages/aws-amplify-vue/__tests__/ConfirmSignIn.test.js
  packages/aws-amplify-vue/__tests__/ConfirmSignUp.test.js
  packages/aws-amplify-vue/__tests__/ForgotPassword.test.js
  packages/aws-amplify-vue/__tests__/PhotoPicker.test.js
  packages/aws-amplify-vue/__tests__/SignIn.test.js
  packages/aws-amplify-vue/__tests__/SignOut.test.js
  packages/aws-amplify-vue/__tests__/SignUp.test.js
  packages/aws-amplify-vue/src/components/authenticator/Authenticator.vue
  packages/aws-amplify-vue/src/components/authenticator/ConfirmSignIn.vue
  packages/aws-amplify-vue/src/components/authenticator/ConfirmSignUp.vue
  packages/aws-amplify-vue/src/components/authenticator/ForgotPassword.vue
  packages/aws-amplify-vue/src/components/authenticator/SetMFA.vue
  packages/aws-amplify-vue/src/components/authenticator/SignIn.vue
  packages/aws-amplify-vue/src/components/authenticator/SignOut.vue
  packages/aws-amplify-vue/src/components/authenticator/SignUp.vue
  packages/aws-amplify-vue/src/components/interactions/Chatbot.vue
  packages/aws-amplify-vue/src/components/storage/PhotoPicker.vue
  packages/aws-amplify-vue/src/components/storage/S3Album.vue
  packages/aws-amplify-vue/src/components/storage/S3Image.vue
  packages/aws-amplify-vue/src/plugins/AmplifyPlugin.js
Labels: review

#2066 fix(aws-amplify-react): change to forgetpassword state if need to reset password
  packages/aws-amplify-react/src/Auth/AuthPiece.jsx
  packages/aws-amplify-react/src/Auth/ForgotPassword.jsx
  packages/aws-amplify-react/src/Auth/SignIn.jsx
Labels: review

#2047 fixing parameter structure in react HOC and logger error in signup jsx
  packages/aws-amplify-react/src/Auth/SignUp.jsx
  packages/aws-amplify-react/src/Auth/index.jsx
Labels: review

#2069 fix(aws-amplify-react): change the way to import qrcode
  packages/aws-amplify-react/src/Widget/TOTPSetupComp.jsx
Labels: review

#1955 fix(pubsub,appsync): Fix NPE when unsubscribing
  packages/pubsub/src/Providers/AWSAppSyncProvider.ts
Labels: AppSync, PubSub, review

#1920 Add user-agent header for react-native
  packages/analytics/src/Providers/AWSPinpointProvider.ts
Labels: Analytics, review

#2077 feat(aws-amplify-react): adding loading page
  packages/auth/src/Auth.ts
  packages/aws-amplify-react/src/Auth/Authenticator.jsx
  packages/aws-amplify-react/src/Auth/Loading.jsx
  packages/aws-amplify-react/src/Auth/Provider/withOAuth.jsx
  packages/aws-amplify-react/src/Auth/common/constants.js
  packages/aws-amplify-react/src/Auth/index.jsx
Labels: review

#2078 fix(@pubsub): Unit test: updating PahoClient mock
  packages/pubsub/__tests__/PubSub-unit-test.ts
Labels: review

#2008 fix(@aws-amplify/pubsub): correctly match # and + wildcards in message topic
  packages/pubsub/__tests__/PubSub-unit-test.ts
  packages/pubsub/src/Providers/MqttOverWSProvider.ts
Labels: PubSub, review

#2080 feature(amazon-cognito-identity-js) allow custom auth
  packages/amazon-cognito-identity-js/src/CognitoUser.js
Labels: review

#2108 Angular signup fields
  packages/aws-amplify-react-native/src/Auth/SignUp.js
  packages/aws-amplify-react/__tests__/Auth/SignUp-test.js
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/SignUp-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/index-test.js.snap
  packages/aws-amplify-react/src/Auth/SignUp.jsx
  packages/aws-amplify-react/src/Auth/index.jsx
  packages/aws-amplify-vue/src/components/authenticator/SignUp.vue
Labels: review

#2119 additional fixes
  packages/aws-amplify-react-native/src/Auth/SignUp.js
  packages/aws-amplify-react/src/Auth/SignUp.jsx
Labels: review

#2093 fix(@aws-amplify/core): check if window.addListener is a function
  packages/core/src/ClientDevice/browser.ts
Labels: review

#850 Update CognitoUser.js comments
  packages/amazon-cognito-identity-js/src/CognitoUser.js
Labels: Cognito, documentation, review

#1782 Reduce cognito sdk bundle size
  packages/amazon-cognito-identity-js/src/AuthenticationHelper.js
  packages/amazon-cognito-identity-js/src/CognitoUser.js
Labels: Cognito, review

#1432 Fix sample code in the document, remove global variable declaration and make it clear
  packages/amazon-cognito-identity-js/README.md
Labels: Cognito, documentation, review

#742 Fix(amazon-cognito-identity-js): podspec for amazon-cognito-identity-js
  packages/amazon-cognito-identity-js/RNAWSCognito.podspec
Labels: Cognito, review

#2140 adding require new password component for vue
  packages/aws-amplify-vue/__mocks__/Amplify.mocks.js
  packages/aws-amplify-vue/__tests__/ConfirmSignIn.test.js
  packages/aws-amplify-vue/__tests__/RequireNewPassword.test.js
  packages/aws-amplify-vue/src/Amplify.vue
  packages/aws-amplify-vue/src/components/authenticator/Authenticator.vue
  packages/aws-amplify-vue/src/components/authenticator/ConfirmSignIn.vue
  packages/aws-amplify-vue/src/components/authenticator/ForgotPassword.vue
  packages/aws-amplify-vue/src/components/authenticator/RequireNewPassword.vue
  packages/aws-amplify-vue/src/components/authenticator/SignIn.vue
  packages/aws-amplify-vue/src/components/authenticator/index.js
Labels: review

#2152 Angular signup fields
  packages/amplify-ui/src/Angular.css
  packages/aws-amplify-angular/src/components/authenticator/sign-up-component/sign-up.component.ionic.ts
  packages/aws-amplify-vue/src/components/authenticator/SignUp.vue
Labels: review

#2029 fix(amazon-cognito-identity-js): Added missing type declarations for setting MFA preferences and token payloads
  packages/amazon-cognito-identity-js/index.d.ts
Labels: review

#2100 optimize the way of importing components
  packages/aws-amplify-react/src/Auth/TOTPSetup.jsx
  packages/aws-amplify-react/src/Storage/S3Album.js
  packages/aws-amplify-react/src/Storage/S3Image.js
  packages/aws-amplify-react/src/Storage/S3Text.js
Labels: review

#2142 The second parameter should be optional for I18n.get()
  packages/core/src/I18n/index.ts
Labels: review

#1839 Fix couldn't play custom sound for notification on Android Oreo & later
  packages/pushnotification/android/src/main/java/com/amazonaws/amplify/pushnotification/modules/RNPushNotificationHelper.java
Labels: Push Notification, review

#2143 Fix minor linting errors that tslint will pickup after the TypeScriptconversion
  packages/aws-amplify-react/__tests__/AmplifyMessageMap-test.js
  packages/aws-amplify-react/__tests__/Auth/ForgotPassword-test.js
  packages/aws-amplify-react/__tests__/Auth/Provider/withAuth0-test.js
  packages/aws-amplify-react/__tests__/Auth/Provider/withFacebook-test.js
  packages/aws-amplify-react/__tests__/Auth/Provider/withGoogle-test.js
  packages/aws-amplify-react/__tests__/Auth/Provider/withOAuth-test.js
  packages/aws-amplify-react/__tests__/Auth/RequireNewPassword-test.js
  packages/aws-amplify-react/__tests__/Auth/SignOut-test.js
  packages/aws-amplify-react/__tests__/Auth/SignUp-test.js
  packages/aws-amplify-react/__tests__/Auth/VerifyContact-test.js
  packages/aws-amplify-react/__tests__/Auth/index-test.js
  packages/aws-amplify-react/__tests__/Storage/Common-test.js
  packages/aws-amplify-react/__tests__/Storage/S3Album-test.js
  packages/aws-amplify-react/__tests__/Storage/S3Image-test.js
  packages/aws-amplify-react/__tests__/Storage/S3Text-test.js
  packages/aws-amplify-react/__tests__/Widget/PhotoPicker-test.js
  packages/aws-amplify-react/__tests__/Widget/SelectMFAType-test.js
  packages/aws-amplify-react/cypress/integration/auth_spec.js
  packages/aws-amplify-react/cypress/plugins/index.js
  packages/aws-amplify-react/src/API/GraphQL/Connect.js
  packages/aws-amplify-react/src/Analytics/trackLifecycle.jsx
  packages/aws-amplify-react/src/Analytics/trackUpdate.jsx
  packages/aws-amplify-react/src/Auth/AuthStateWrapper.jsx
  packages/aws-amplify-react/src/Auth/Authenticator.jsx
  packages/aws-amplify-react/src/Auth/FederatedSignIn.jsx
  packages/aws-amplify-react/src/Auth/ForgotPassword.jsx
  packages/aws-amplify-react/src/Auth/Greetings.jsx
  packages/aws-amplify-react/src/Auth/Loading.jsx
  packages/aws-amplify-react/src/Auth/Provider/withAmazon.jsx
  packages/aws-amplify-react/src/Auth/Provider/withAuth0.jsx
  packages/aws-amplify-react/src/Auth/Provider/withFacebook.jsx
  packages/aws-amplify-react/src/Auth/Provider/withGoogle.jsx
  packages/aws-amplify-react/src/Auth/SignUp.jsx
  packages/aws-amplify-react/src/Auth/VerifyContact.jsx
  packages/aws-amplify-react/src/Auth/index.jsx
  packages/aws-amplify-react/src/Interactions/ChatBot.jsx
  packages/aws-amplify-react/src/Storage/S3Text.js
  packages/aws-amplify-react/src/Widget/PhotoPicker.js
  packages/aws-amplify-react/src/Widget/SelectMFAType.jsx
  packages/aws-amplify-react/tslint.json
Labels: review

#2118 s3 options
  packages/aws-amplify-angular/src/components/storage/photo-picker-component/photo-picker.component.core.ts
  packages/aws-amplify-angular/src/components/storage/photo-picker-component/photo-picker.component.ionic.ts
  packages/aws-amplify-angular/src/components/storage/photo-picker-component/photo-picker.factory.ts
  packages/aws-amplify-angular/src/components/storage/s3-album-component/s3-album.component.core.ts
  packages/aws-amplify-angular/src/components/storage/s3-album-component/s3-album.component.ionic.ts
  packages/aws-amplify-angular/src/components/storage/s3-album-component/s3-album.factory.ts
  packages/aws-amplify-angular/src/components/storage/s3-image-component/s3-image.component.core.ts
  packages/aws-amplify-angular/src/components/storage/s3-image-component/s3-image.component.ionic.ts
  packages/aws-amplify-angular/src/components/storage/s3-image-component/s3-image.factory.ts
Labels: review

#2173 Fix issue on react-native with Object.assign
  packages/api/src/API.ts
Labels: review

#2185 Fix issue 2183
  packages/aws-amplify-react-native/src/Auth/Greetings.js
  packages/aws-amplify-react/src/Auth/Greetings.jsx
Labels: review

#2192 Print log messages with prefix + messages rather than wrapping it aro…
  packages/core/src/Logger/ConsoleLogger.ts
Labels: review

#2180 fix(@aws-amplify/analytics): avoid return statement in the beforeunload function
  packages/analytics/src/trackers/SessionTracker.ts
Labels: review

#2198 fix(aws-amplify-react-native): render required attributes when requiring new passwords
  packages/aws-amplify-react-native/src/Auth/ConfirmSignIn.js
  packages/aws-amplify-react-native/src/Auth/ConfirmSignUp.js
  packages/aws-amplify-react-native/src/Auth/RequireNewPassword.js
  packages/aws-amplify-react-native/src/Auth/VerifyContact.js
Labels: review

#2178 feat(@aws-amplify/storage): enable Server-Side Encryption support
  packages/storage/src/Providers/AWSS3Provider.ts
Labels: review

#2153 adding options for vue storage components
  packages/aws-amplify-vue/__tests__/PhotoPicker.test.js
  packages/aws-amplify-vue/__tests__/S3Album.test.js
  packages/aws-amplify-vue/__tests__/S3Image.test.js
  packages/aws-amplify-vue/src/components/storage/PhotoPicker.vue
  packages/aws-amplify-vue/src/components/storage/S3Album.vue
  packages/aws-amplify-vue/src/components/storage/S3Image.vue
Labels: review

#2216 feat(aws-amplify-react): disable sign in button while loading
  packages/amplify-ui/src/Button.css
  packages/aws-amplify-react/__tests__/Auth/SignIn-test.js
  packages/aws-amplify-react/src/Amplify-UI/Amplify-UI-Components-React.jsx
  packages/aws-amplify-react/src/Auth/SignIn.jsx
Labels: review
