Repository aws-amplify/amplify-js, pull requests merged in 2018-09, with the labels that each got.

#1612 Amplify vue package
  .circleci/config.yml
  packages/amplify-ui/src/Angular.css
  packages/analytics/package.json
  packages/api/__tests__/API-test.ts
  packages/api/src/API.ts
  packages/api/src/RestClient.ts
  packages/aws-amplify-vue/.eslintrc.json
  packages/aws-amplify-vue/.gitignore
  packages/aws-amplify-vue/.npmignore
  packages/aws-amplify-vue/README.md
  packages/aws-amplify-vue/__mocks__/Amplify.mocks.js
  packages/aws-amplify-vue/__tests__/Amplify.test.js
  packages/aws-amplify-vue/__tests__/Authenticator.test.js
  packages/aws-amplify-vue/__tests__/ConfirmSignIn.test.js
  packages/aws-amplify-vue/__tests__/ConfirmSignUp.test.js
  packages/aws-amplify-vue/__tests__/ForgotPassword.test.js
  packages/aws-amplify-vue/__tests__/SetMFA.test.js
  packages/aws-amplify-vue/babel.config.js
  packages/aws-amplify-vue/jest.config.js
  packages/aws-amplify-vue/package.json
  packages/aws-amplify-vue/postcss.config.js
  packages/aws-amplify-vue/public/index.html
  packages/aws-amplify-vue/src/Amplify.vue
  packages/aws-amplify-vue/src/assets/countries.js
  packages/aws-amplify-vue/src/components/authenticator/Authenticator.vue
  packages/aws-amplify-vue/src/components/authenticator/ConfirmSignIn.vue
  packages/aws-amplify-vue/src/components/authenticator/ConfirmSignUp.vue
  packages/aws-amplify-vue/src/components/authenticator/ForgotPassword.vue
  packages/aws-amplify-vue/src/components/authenticator/SetMFA.vue
  packages/aws-amplify-vue/src/components/authenticator/SignIn.vue
  packages/aws-amplify-vue/src/components/authenticator/SignOut.vue
  packages/aws-amplify-vue/src/components/authenticator/SignUp.vue
  packages/aws-amplify-vue/src/components/authenticator/index.js
  packages/aws-amplify-vue/src/components/index.js
  packages/aws-amplify-vue/src/components/interactions/Chatbot.vue
  packages/aws-amplify-vue/src/components/interactions/index.js
  packages/aws-amplify-vue/src/components/storage/PhotoPicker.vue
  packages/aws-amplify-vue/src/components/storage/S3Album.vue
  packages/aws-amplify-vue/src/components/storage/S3Image.vue
  packages/aws-amplify-vue/src/components/storage/index.js
  packages/aws-amplify-vue/src/events/AmplifyEventBus.js
  packages/aws-amplify-vue/src/plugins/AmplifyPlugin.js
  packages/aws-amplify-vue/src/services/getUser.js
  packages/aws-amplify-vue/vue.config.js
  packages/core/package.json
  packages/interactions/package.json
  packages/pubsub/src/Providers/AWSAppSyncProvider.ts
  packages/pubsub/src/Providers/MqttOverWSProvider.ts
  packages/pubsub/src/PubSub.ts
  packages/storage/package.json
  yarn.lock
Labels: review

#1618 fix(pubsub,api,appsync): Use subscriber-id header (AppSync subscription)
  packages/api/package.json
  packages/api/src/API.ts
  packages/pubsub/src/Providers/AWSAppSyncProvider.ts
  packages/pubsub/src/Providers/MqttOverWSProvider.ts
Labels: review

#1509 fix(@aws-amplify-react/auth): handle required attributes in NEW_PASSWORD_REQUIRED challenge
  packages/aws-amplify-react/__tests__/Auth/RequireNewPassword-test.js
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/RequireNewPassword-test.js.snap
  packages/aws-amplify-react/src/Auth/RequireNewPassword.jsx
Labels: React, review, testing

#1632 fix(aws-amplify-react):Hide Forgot Password/Singup conditionally
  packages/aws-amplify-react/__tests__/Auth/Authenticator-test.js
  packages/aws-amplify-react/__tests__/Auth/Greetings-test.js
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/FederatedSignIn-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/SignIn-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/index-test.js.snap
  packages/aws-amplify-react/__tests__/Widget/__snapshots__/TextPicker-test.js.snap
  packages/aws-amplify-react/src/Auth/Authenticator.jsx
  packages/aws-amplify-react/src/Auth/Greetings.jsx
  packages/aws-amplify-react/src/Auth/SignIn.jsx
Labels: review

#1424 Analytics autotrack
  docs/media/analytics_guide.md
  packages/analytics/__tests__/Analytics-unit-test.ts
  packages/analytics/__tests__/Providers/AWSAnalyticsProvider-unit-test.ts
  packages/analytics/__tests__/Providers/AWSKinesisProvider-unit-test.ts
  packages/analytics/__tests__/trackers/EventTracker-test.ts
  packages/analytics/__tests__/trackers/PageViewTracker-test.ts
  packages/analytics/__tests__/trackers/SessionTracker-rn-test.ts
  packages/analytics/__tests__/trackers/SessionTracker-test.ts
  packages/analytics/package.json
  packages/analytics/src/Analytics.ts
  packages/analytics/src/Providers/AWSPinpointProvider.ts
  packages/analytics/src/SessionManage.ts
  packages/analytics/src/index.ts
  packages/analytics/src/trackers/EventTracker.ts
  packages/analytics/src/trackers/PageViewTracker.ts
  packages/analytics/src/trackers/SessionTracker-rn.ts
  packages/analytics/src/trackers/SessionTracker.ts
  packages/analytics/src/trackers/index.ts
  packages/analytics/src/trackers/reactnative.ts
  packages/analytics/src/types/Analytics.ts
  packages/analytics/src/utils/MethodEmbed.ts
  packages/analytics/src/vendor/dom-utils/closest.ts
  packages/analytics/src/vendor/dom-utils/delegate.ts
  packages/analytics/src/vendor/dom-utils/dispatch.ts
  packages/analytics/src/vendor/dom-utils/get-attributes.ts
  packages/analytics/src/vendor/dom-utils/index.ts
  packages/analytics/src/vendor/dom-utils/matches.ts
  packages/analytics/src/vendor/dom-utils/parents.ts
  packages/analytics/src/vendor/dom-utils/parse-url.ts
Labels: review

#1024 Amplify Auth typescript enhancement
  packages/amazon-cognito-identity-js/index.d.ts
  packages/api/src/API.ts
  packages/auth/__tests__/auth-unit-test.ts
  packages/auth/src/Auth.ts
  packages/auth/src/types/Auth.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-in-component/sign-in.component.core.ts
  packages/aws-amplify/src/Common/types/types.ts
  packages/core/src/Credentials.ts
  packages/core/src/index.ts
  packages/core/src/types/AmplifyConfig.ts
  packages/core/src/types/index.ts
  packages/core/src/types/types.ts
Labels: review

#1648 setting babel-core version in vue
  .circleci/config.yml
  packages/aws-amplify-vue/__tests__/SetMFA.test.js
  packages/aws-amplify-vue/package.json
  yarn.lock
Labels: review

#1651 Documentation
  packages/aws-amplify-vue/README.md
  packages/aws-amplify-vue/__tests__/ConfirmSignIn.test.js
  packages/aws-amplify-vue/__tests__/ConfirmSignUp.test.js
  packages/aws-amplify-vue/__tests__/ForgotPassword.test.js
  packages/aws-amplify-vue/__tests__/SetMFA.test.js
  packages/aws-amplify-vue/src/components/authenticator/ConfirmSignIn.vue
  packages/aws-amplify-vue/src/components/authenticator/ConfirmSignUp.vue
  packages/aws-amplify-vue/src/components/authenticator/ForgotPassword.vue
  packages/aws-amplify-vue/src/components/authenticator/SetMFA.vue
  packages/aws-amplify-vue/src/components/authenticator/SignIn.vue
  packages/aws-amplify-vue/src/components/authenticator/SignOut.vue
  packages/aws-amplify-vue/src/components/authenticator/SignUp.vue
  packages/aws-amplify-vue/src/components/interactions/Chatbot.vue
  packages/aws-amplify-vue/src/components/storage/PhotoPicker.vue
Labels: review

#1650 Aws amplify react fix
  packages/aws-amplify-react/__tests__/Auth/SignUp-test.js
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/RequireNewPassword-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/index-test.js.snap
  packages/aws-amplify-react/__tests__/Widget/__snapshots__/PhotoPicker-test.js.snap
  packages/aws-amplify-react/__tests__/Widget/__snapshots__/TextPicker-test.js.snap
  packages/aws-amplify-react/src/Auth/AuthPiece.jsx
  packages/aws-amplify-react/src/Auth/SignUp.jsx
  packages/aws-amplify-react/src/Widget/PhotoPicker.js
Labels: review

#1657 fix(aws-amplify-angular): authState visibility issues on initial load
  packages/amplify-ui/src/Angular.css
  packages/aws-amplify-angular/src/components/authenticator/authenticator/authenticator.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/authenticator/authenticator.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/greeting-component/greeting.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/greeting-component/greeting.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-up-component/sign-up.component.ionic.ts
  packages/aws-amplify-angular/src/components/storage/photo-picker-component/photo-picker.component.core.ts
  packages/aws-amplify-angular/src/components/storage/photo-picker-component/photo-picker.factory.ts
Labels: review

#1626 doc update: Directly go to Google/Facebook Login page and attributes verification
  docs/media/authentication_guide.md
Labels: review

#1694 clarify doc, HOC RN doesn't support federated option
  docs/media/authentication_guide.md
  packages/aws-amplify-react-native/src/Auth/Authenticator.js
Labels: review

#1691 delete useless npm install (react native project)
  docs/media/react_native_guide.md
Labels: review

#1698 fix(@aws-amplify/api): send websocket disconnect errors thru observable
  packages/api/src/API.ts
  packages/pubsub/__mocks__/paho-mqtt.js
  packages/pubsub/__tests__/PubSub-unit-test.ts
  packages/pubsub/package.json
  packages/pubsub/src/Providers/MqttOverWSProvider.ts
  packages/pubsub/src/vendor/paho-mqtt.js
Labels: API, GraphQL, PubSub, review

#1667 fix(spelling): Changes then to than
  docs/media/authentication_guide.md
Labels: review

#1706 fix(): bumping version for deploying on unstable tag
  packages/amazon-cognito-identity-js/package.json
  packages/api/package.json
  packages/auth/package.json
  packages/aws-amplify-angular/package.json
  packages/aws-amplify/package.json
Labels: review

#1709 chore(docs): Documentation updates
  .circleci/config.yml
  docs/_config.yml
  docs/images/layout/background.jpg
  docs/media/api_guide.md
  docs/media/cli_guide.md
  docs/media/ionic_guide.md
  docs/media/quick_start.md
  docs/media/react_guide.md
  docs/media/ui_guide.md
  docs/media/vue_guide.md
  docs/media/xr_guide.md
Labels: review

#1710 chore(merge release)
  packages/amazon-cognito-identity-js/CHANGELOG.md
  packages/amazon-cognito-identity-js/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/auth/CHANGELOG.md
  packages/auth/package.json
  packages/aws-amplify-angular/CHANGELOG.md
  packages/aws-amplify-angular/package.json
  packages/aws-amplify-react-native/CHANGELOG.md
  packages/aws-amplify-react-native/package.json
  packages/aws-amplify-react/CHANGELOG.md
  packages/aws-amplify-react/package.json
  packages/aws-amplify/CHANGELOG.md
  packages/aws-amplify/package.json
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/interactions/CHANGELOG.md
  packages/interactions/package.json
  packages/pubsub/CHANGELOG.md
  packages/pubsub/package.json
  packages/pushnotification/CHANGELOG.md
  packages/pushnotification/package.json
  packages/storage/CHANGELOG.md
  packages/storage/package.json
  packages/xr/CHANGELOG.md
  packages/xr/package.json
Labels: review

#1615 fix(amazon-cognito-identity-js): clean clockDrift item when signing out
  packages/amazon-cognito-identity-js/src/CognitoUser.js
Labels: review

#1688 Update Analytics with Pinpoint's new API
  docs/media/analytics_guide.md
  packages/analytics/__tests__/Providers/AWSAnalyticsProvider-unit-test.ts
  packages/analytics/src/Providers/AWSPinpointProvider.ts
Labels: review

#1703 fix(@aws-amplify/analytics): check the environment before running dom-utils
  packages/analytics/src/vendor/dom-utils/matches.ts
  packages/analytics/src/vendor/dom-utils/parse-url.ts
Labels: review

#1649 fix(pubsub,api-test): Do not disconnect active mqtt connections when …
  packages/api/__tests__/API-test.ts
  packages/api/__tests__/RestClient-unit-test.ts
  packages/pubsub/src/Providers/AWSAppSyncProvider.ts
Labels: review

#1719 Fixes "In this environment the sources for assign MUST be an object" for PubSub
  packages/core/src/Signer.ts
Labels: review

#1536 fix(aws-amplify-react-native): check contact before getting signed in
  packages/aws-amplify-react-native/src/Auth/AuthPiece.js
  packages/aws-amplify-react-native/src/Auth/Authenticator.js
  packages/aws-amplify-react-native/src/Auth/ConfirmSignIn.js
  packages/aws-amplify-react-native/src/Auth/RequireNewPassword.js
  packages/aws-amplify-react-native/src/Auth/SignIn.js
  packages/aws-amplify-react-native/src/Auth/VerifyContact.js
Labels: review

#1745 cancelHandler in setMFA
  packages/aws-amplify-vue/README.md
  packages/aws-amplify-vue/package.json
  packages/aws-amplify-vue/src/components/authenticator/SetMFA.vue
Labels: review

#1746 fix(@aws-amplify/core): remove the polyfill
  packages/core/__tests__/Polyfills-test.ts
  packages/core/src/OAuthHelper/FacebookOAuth.ts
  packages/core/src/OAuthHelper/GoogleOAuth.ts
  packages/core/src/Polyfills/Polyfills.ts
  packages/core/src/Polyfills/index.ts
  packages/core/src/RNComponents/index.ts
  packages/core/src/index.ts
Labels: review

#1747 Update api_guide.mdwith GraphQL codegen changes
  docs/media/api_guide.md
Labels: review

#1748 Update api_guide.md
  docs/media/api_guide.md
Labels: review

#1754 Amplify ui federated style and set explicit box-sizing css
  packages/amplify-ui/src/Button.css
  packages/amplify-ui/src/Form.css
  packages/amplify-ui/src/Section.css
  packages/aws-amplify-react/src/Amplify-UI/Amplify-UI-Components-React.jsx
  packages/aws-amplify-react/src/Amplify-UI/Amplify-UI-Theme.jsx
  packages/aws-amplify-react/src/Auth/Provider/withAmazon.jsx
  packages/aws-amplify-react/src/Auth/Provider/withFacebook.jsx
  packages/aws-amplify-react/src/Auth/Provider/withGoogle.jsx
  packages/aws-amplify-react/src/Auth/Provider/withOAuth.jsx
Labels: review

#1763 fix(@aws-amplify/analytics): Auto session tracking after Auth is configured
  packages/analytics/src/Analytics.ts
  packages/analytics/src/index.ts
Labels: review

#1764 Doc fix
  docs/media/vue_guide.md
Labels: review

#1765 Doc fix
  docs/media/vue_guide.md
Labels: review

#1767 Merging release to master
  packages/amazon-cognito-identity-js/CHANGELOG.md
  packages/amazon-cognito-identity-js/package.json
  packages/amplify-ui/CHANGELOG.md
  packages/amplify-ui/package.json
  packages/analytics/CHANGELOG.md
  packages/analytics/package.json
  packages/api/CHANGELOG.md
  packages/api/package.json
  packages/auth/CHANGELOG.md
  packages/auth/package.json
  packages/aws-amplify-angular/CHANGELOG.md
  packages/aws-amplify-angular/package.json
  packages/aws-amplify-react-native/CHANGELOG.md
  packages/aws-amplify-react-native/package.json
  packages/aws-amplify-react/CHANGELOG.md
  packages/aws-amplify-react/package.json
  packages/aws-amplify-vue/CHANGELOG.md
  packages/aws-amplify-vue/package.json
  packages/aws-amplify/CHANGELOG.md
  packages/aws-amplify/package.json
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/interactions/CHANGELOG.md
  packages/interactions/package.json
  packages/pubsub/CHANGELOG.md
  packages/pubsub/package.json
  packages/pushnotification/CHANGELOG.md
  packages/pushnotification/package.json
  packages/storage/CHANGELOG.md
  packages/storage/package.json
  packages/xr/CHANGELOG.md
  packages/xr/package.json
Labels: review

#1443 Remove build files from github repo and update readme
  .gitignore
  packages/amazon-cognito-identity-js/README.md
  packages/amazon-cognito-identity-js/dist/amazon-cognito-identity.js
  packages/amazon-cognito-identity-js/dist/amazon-cognito-identity.min.js
  packages/amazon-cognito-identity-js/dist/amazon-cognito-identity.min.js.map
  packages/amazon-cognito-identity-js/es/AuthenticationDetails.js
  packages/amazon-cognito-identity-js/es/AuthenticationHelper.js
  packages/amazon-cognito-identity-js/es/BigInteger.js
  packages/amazon-cognito-identity-js/es/Client.js
  packages/amazon-cognito-identity-js/es/CognitoAccessToken.js
  packages/amazon-cognito-identity-js/es/CognitoIdToken.js
  packages/amazon-cognito-identity-js/es/CognitoJwtToken.js
  packages/amazon-cognito-identity-js/es/CognitoRefreshToken.js
  packages/amazon-cognito-identity-js/es/CognitoUser.js
  packages/amazon-cognito-identity-js/es/CognitoUserAttribute.js
  packages/amazon-cognito-identity-js/es/CognitoUserPool.js
  packages/amazon-cognito-identity-js/es/CognitoUserSession.js
  packages/amazon-cognito-identity-js/es/CookieStorage.js
  packages/amazon-cognito-identity-js/es/DateHelper.js
  packages/amazon-cognito-identity-js/es/StorageHelper-rn.js
  packages/amazon-cognito-identity-js/es/StorageHelper.js
  packages/amazon-cognito-identity-js/es/UserAgent.js
  packages/amazon-cognito-identity-js/es/index.js
  packages/amazon-cognito-identity-js/lib/AuthenticationDetails.js
  packages/amazon-cognito-identity-js/lib/AuthenticationHelper.js
  packages/amazon-cognito-identity-js/lib/BigInteger.js
  packages/amazon-cognito-identity-js/lib/Client.js
  packages/amazon-cognito-identity-js/lib/CognitoAccessToken.js
  packages/amazon-cognito-identity-js/lib/CognitoIdToken.js
  packages/amazon-cognito-identity-js/lib/CognitoJwtToken.js
  packages/amazon-cognito-identity-js/lib/CognitoRefreshToken.js
  packages/amazon-cognito-identity-js/lib/CognitoUser.js
  packages/amazon-cognito-identity-js/lib/CognitoUserAttribute.js
  packages/amazon-cognito-identity-js/lib/CognitoUserPool.js
  packages/amazon-cognito-identity-js/lib/CognitoUserSession.js
  packages/amazon-cognito-identity-js/lib/CookieStorage.js
  packages/amazon-cognito-identity-js/lib/DateHelper.js
  packages/amazon-cognito-identity-js/lib/StorageHelper-rn.js
  packages/amazon-cognito-identity-js/lib/StorageHelper.js
  packages/amazon-cognito-identity-js/lib/UserAgent.js
  packages/amazon-cognito-identity-js/lib/index.js
Labels: review

#1773 fix(amazon-cognito-identity-js): replace crypto-browserify with crypto-js
  packages/amazon-cognito-identity-js/package.json
  packages/amazon-cognito-identity-js/src/AuthenticationHelper.js
  packages/amazon-cognito-identity-js/src/CognitoUser.js
Labels: review

#1586 Fixes customization of error messages in aws-amplify-react-native
  packages/aws-amplify-react-native/src/Auth/AuthPiece.js
Labels: review

#1780 check window object before using localstorage
  packages/core/src/RNComponents/index.ts
Labels: review
