Repository aws-amplify/amplify-js, pull requests merged in 2018-04, with the labels that each got.

#605 Callback with error if error thrown due to network
  packages/amazon-cognito-identity-js/src/Client.js
Labels: Auth, Cognito

#593 storage image upload example
  docs/media/storage_guide.md
Labels: documentation

#694 Dispatch failure event for pwd completion error
  packages/aws-amplify/src/Auth/Auth.ts
Labels: Auth

#731 Update crypto browserify to latest version
  packages/amazon-cognito-identity-js/package.json
  yarn.lock
Labels: Auth
