Repository aws-amplify/amplify-js, pull requests merged in 2019-03, with the labels that each got.

#1361 Add region config to example
  packages/amazon-cognito-identity-js/README.md
Labels: Cognito, documentation, review

#2789 Remove unused variables and imports
  packages/aws-amplify-react/src/Widget/PhotoPicker.js
  packages/aws-amplify-react/src/Widget/Picker.js
  packages/aws-amplify-react/src/Widget/TextPicker.js
Labels: review

#2788 Remove unused import and variable
  packages/aws-amplify-react/src/Storage/S3Album.js
Labels: review

#2790 Fix issue 845
  packages/amazon-cognito-identity-js/src/CognitoUser.js
  packages/core/src/Hub.ts
Labels: review

#2665 feat(aws-amplify-react-native): Add withOAuth HOC for Cognito Hosted UI
  packages/auth/package.json
  packages/auth/src/Auth.ts
  packages/auth/src/index.ts
  packages/auth/src/types/Auth.ts
  packages/auth/webpack.config.js
  packages/aws-amplify-react-native/.babelrc
  packages/aws-amplify-react-native/package.json
  packages/aws-amplify-react-native/src/Auth/index.js
  packages/aws-amplify-react-native/src/Auth/withOAuth.js
  packages/aws-amplify-react/package.json
  packages/aws-amplify/webpack.config.js
  yarn.lock
Labels: review

#2804 fix(amazon-cognito-identity-js) reset challengename
  packages/amazon-cognito-identity-js/src/CognitoUser.js
Labels: review

#2802 Pubsub windows build fix
  packages/amplify-ui/package.json
Labels: review

#2800 amazon aocial login profile email insert to authData
  packages/aws-amplify-react/src/Auth/Provider/withAmazon.jsx
Labels: review

#2801 Amplify ui windows build fix
  packages/pubsub/package.json
Labels: review

#1979 fix(@aws-amplify/aws-amplify-vue): Change the 'type' property values …
  packages/aws-amplify-vue/__tests__/SignUp.test.js
  packages/aws-amplify-vue/src/components/authenticator/SignUp.vue
Labels: pending-close-response-required, review

#2815 fix(auth): Split urlListener into web/react-native
  packages/auth/package.json
  packages/auth/src/Auth.ts
  packages/auth/src/urlListener.native.ts
  packages/auth/src/urlListener.ts
Labels: review

#2774 I18n Support for Angular Authentication Components
  packages/aws-amplify-angular/src/assets/default-sign-up-fields.ts
  packages/aws-amplify-angular/src/components/authenticator/confirm-sign-in-component/confirm-sign-in-component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/confirm-sign-in-component/confirm-sign-in-component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/confirm-sign-up-component/confirm-sign-up.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/confirm-sign-up-component/confirm-sign-up.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/forgot-password-component/forgot-password.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/forgot-password-component/forgot-password.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/greeting-component/greeting.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/greeting-component/greeting.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/require-new-password-component/require-new-password.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/require-new-password-component/require-new-password.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-in-component/sign-in.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-in-component/sign-in.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-up-component/sign-up.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-up-component/sign-up.component.ionic.ts
  packages/aws-amplify-angular/src/providers/amplify.service.ts
Labels: review

#2811 Fixes alert element not being centered on small screens
  packages/amplify-ui/src/Angular.css
Labels: review

#2805 Fix typo in Pinpoint Provider
  packages/analytics/src/Providers/AWSPinpointProvider.ts
Labels: review

#2510 fix(@aws-amplify/analytics): use the correct user id when unlinking endpoints
  packages/analytics/src/Providers/AWSPinpointProvider.ts
Labels: review

#2756 fix(aws-amplify-react) #2301
  packages/aws-amplify-react/src/Auth/Greetings.jsx
  packages/aws-amplify-react/src/Auth/index.jsx
Labels: review

#2841 fix(aws-amplify-vue/storage): Fixed PhotoPicker input element not usi…
  packages/aws-amplify-vue/src/components/storage/PhotoPicker.vue
Labels: review

#2844 fix(aws-amplify-react): use <form/> for the login component
  packages/aws-amplify-react/__tests__/Auth/SignIn-test.js
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/SignIn-test.js.snap
  packages/aws-amplify-react/src/Auth/SignIn.jsx
Labels: review

#2831 fix(amazon-cognito-identity-js) refreshes session on cache bypass
  packages/amazon-cognito-identity-js/src/CognitoUser.js
Labels: review

#2868 fix(@aws-amplify/auth): check if has the right scope to send the request GetUserData
  packages/auth/__tests__/auth-unit-test.ts
  packages/auth/src/Auth.ts
Labels: review

#2888 fix: remove stray semicolon after app wrapper
  packages/aws-amplify-react/src/Auth/index.jsx
Labels: review

#2899 fix(aws-amplify-react): Change the position of <form/> element in the <SignIn/> component
  packages/aws-amplify-react/src/Auth/SignIn.jsx
Labels: review

#2889 test(api): Happy path for GraphQL subscription
  packages/api/__tests__/API-test.ts
Labels: review

#2898 Storage configure fix
  packages/storage/__tests__/Storage-unit-test.ts
  packages/storage/src/Storage.ts
  packages/storage/src/index.ts
Labels: review

#2919 fix(core): Remove unneeded Hub.dispatch and Hub.listen
  packages/aws-amplify-react/src/Storage/S3Album.js
  packages/core/src/ClientDevice/browser.ts
Labels: review

#2918 fix(@aws-amplify/auth): get the user attributes after signing in
  packages/auth/__tests__/auth-unit-test.ts
  packages/auth/src/Auth.ts
Labels: review

#2920 fix(aws-amplify-react) Fix warning for setState on unmounted state
  packages/aws-amplify-react/src/Storage/S3Album.js
  packages/aws-amplify-react/src/Storage/S3Image.js
  packages/aws-amplify-react/src/Storage/S3Text.js
Labels: review

#2878 aws-amplify-react: specify custom Authenticator container component
  packages/aws-amplify-react/__tests__/Auth/Authenticator-test.js
  packages/aws-amplify-react/src/Auth/Authenticator.jsx
Labels: review

#2871 fix(auth): Remove react-native related peerDependencies
  packages/auth/package.json
Labels: review

#2929 fix(api): allow API options to be merged with root level options
  packages/api/__tests__/API-test.ts
  packages/api/src/API.ts
Labels: review

#2931 fix(aws-amplify-react): the username should not be undefined
  packages/aws-amplify-react/src/Auth/SignIn.jsx
Labels: review

#2850 feat(core): Hub refactor and tests
  packages/analytics/src/Analytics.ts
  packages/analytics/src/Providers/AWSPinpointProvider.ts
  packages/analytics/src/index.ts
  packages/auth/src/Auth.ts
  packages/aws-amplify-angular/src/providers/auth.decorator.ts
  packages/aws-amplify-react-native/src/Auth/Authenticator.js
  packages/aws-amplify-react-native/src/Auth/withOAuth.js
  packages/aws-amplify-react/__tests__/Auth/SignOut-test.js
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/SignUp-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/index-test.js.snap
  packages/aws-amplify-react/__tests__/Widget/__snapshots__/PhotoPicker-test.js.snap
  packages/aws-amplify-react/__tests__/Widget/__snapshots__/TextPicker-test.js.snap
  packages/aws-amplify-react/src/Auth/Authenticator.jsx
  packages/aws-amplify-react/src/Auth/Greetings.jsx
  packages/aws-amplify-react/src/Auth/SignOut.jsx
  packages/core/__tests__/Hub-test.ts
  packages/core/src/Hub.ts
  packages/storage/__tests__/Providers/AWSS3Provider-unit-test.ts
  packages/storage/src/Providers/AWSS3Provider.ts
Labels: review

#2948 Localize/Customize TOTP issuer
  packages/aws-amplify-react/src/Widget/TOTPSetupComp.jsx
Labels: review
