Repository aws-amplify/amplify-js, pull requests merged in 2019-05, with the labels that each got.

#3076 added isMounted to check if the component has been unmounted before s…
  packages/aws-amplify-react-native/src/Auth/withOAuth.js
Labels: Hub, React Native, review

#3173 fix(aws-amplify-angular)
  packages/aws-amplify-angular/src/__tests__/components/authenticator/authenticator.component.ionic.spec.ts
  packages/aws-amplify-angular/src/__tests__/components/authenticator/confirm-sign-up.component.core.spec.ts
  packages/aws-amplify-angular/src/__tests__/components/authenticator/confirm-sign-up.component.ionic.spec.ts
  packages/aws-amplify-angular/src/__tests__/components/authenticator/forgot-password.component.core.spec.ts
  packages/aws-amplify-angular/src/__tests__/components/authenticator/greetings.component.core.spec.ts
  packages/aws-amplify-angular/src/__tests__/components/authenticator/require-new-password.component.core.spec.ts
  packages/aws-amplify-angular/src/__tests__/components/authenticator/require-new-password.component.ionic.spec.ts
  packages/aws-amplify-angular/src/__tests__/components/storage/s3-album.component.spec.ts
  packages/aws-amplify-angular/src/__tests__/components/storage/s3-image.component.spec.ts
  packages/aws-amplify-angular/src/components/authenticator/authenticator/authenticator.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/authenticator/authenticator.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/confirm-sign-in-component/confirm-sign-in-component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/confirm-sign-in-component/confirm-sign-in.factory.ts
  packages/aws-amplify-angular/src/components/authenticator/confirm-sign-up-component/confirm-sign-up.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/confirm-sign-up-component/confirm-sign-up.factory.ts
  packages/aws-amplify-angular/src/components/authenticator/forgot-password-component/forgot-password.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/forgot-password-component/forgot-password.factory.ts
  packages/aws-amplify-angular/src/components/authenticator/require-new-password-component/require-new-password.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/require-new-password-component/require-new-password.factory.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-in-component/sign-in.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-in-component/sign-in.component.factory.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-in-component/sign-in.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-up-component/sign-up.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-up-component/sign-up.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-up-component/sign-up.factory.ts
Labels: review

#3217 fix(aws-amplify-react-native): Fix funky background
  packages/aws-amplify-react-native/src/AmplifyTheme.js
  packages/aws-amplify-react-native/src/Auth/Authenticator.js
Labels: review

#2978 feat(pubsub): Enable PubSub to work along side GraphQL/Appsync
  packages/api/__tests__/API-test.ts
  packages/api/src/API.ts
  packages/core/src/constants.ts
  packages/pubsub/__tests__/PubSub-unit-test.ts
  packages/pubsub/src/PubSub.ts
Labels: review

#2500 Add responseType option for API
  packages/api/__tests__/API-test.ts
  packages/api/__tests__/RestClient-unit-test.ts
  packages/api/src/RestClient.ts
Labels: review

#3223 fix(Vue-SignUp): check fields are non-empty prior to submitting them
  packages/aws-amplify-vue/src/components/authenticator/SignUp.vue
Labels: review

#2697 feat(@aws-amplify/pushnotification) provide config option for not automatically requesting iOS permissions per #1781
  packages/pushnotification/src/PushNotification.ts
Labels: review

#3222 fix(@aws-amplify/storage): private by default
  packages/storage/__tests__/Storage-unit-test.ts
  packages/storage/src/index.ts
Labels: review

#3244 fix(@aws-amplify/core): bind console error to console
  packages/core/src/Logger/ConsoleLogger.ts
  packages/core/src/Logger/logger-interface.ts
Labels: review

#3024 feat(aws-amplify-react-native): withOAuth Loading
  packages/aws-amplify-react-native/src/Auth/withOAuth.js
Labels: review

#3253 Adding cypress data-test attributes, add a spread props for the toast component and match text across components
  packages/aws-amplify-angular/src/assets/data-test-attributes.ts
  packages/aws-amplify-angular/src/components/authenticator/confirm-sign-in-component/confirm-sign-in-component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/confirm-sign-in-component/confirm-sign-in-component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/confirm-sign-up-component/confirm-sign-up.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/confirm-sign-up-component/confirm-sign-up.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/forgot-password-component/forgot-password.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/forgot-password-component/forgot-password.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/greeting-component/greeting.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/greeting-component/greeting.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/require-new-password-component/require-new-password.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/require-new-password-component/require-new-password.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-in-component/sign-in.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-in-component/sign-in.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-up-component/sign-up.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-up-component/sign-up.component.ionic.ts
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/ConfirmSignIn-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/ConfirmSignUp-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/FederatedSignIn-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/ForgotPassword-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/Greetings-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/RequireNewPassword-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/SignIn-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/SignOut-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/SignUp-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/TOTPSetup-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/VerifyContact-test.js.snap
  packages/aws-amplify-react/__tests__/Widget/__snapshots__/PhotoPicker-test.js.snap
  packages/aws-amplify-react/__tests__/Widget/__snapshots__/Picker-test.js.snap
  packages/aws-amplify-react/__tests__/Widget/__snapshots__/SelectMFAType-test.js.snap
  packages/aws-amplify-react/__tests__/Widget/__snapshots__/TOTPSetupComp-test.js.snap
  packages/aws-amplify-react/src/Amplify-UI/Amplify-UI-Components-React.jsx
  packages/aws-amplify-react/src/Amplify-UI/data-test-attributes.js
  packages/aws-amplify-react/src/Auth/Authenticator.jsx
  packages/aws-amplify-react/src/Auth/ConfirmSignIn.jsx
  packages/aws-amplify-react/src/Auth/ConfirmSignUp.jsx
  packages/aws-amplify-react/src/Auth/FederatedSignIn.jsx
  packages/aws-amplify-react/src/Auth/ForgotPassword.jsx
  packages/aws-amplify-react/src/Auth/Greetings.jsx
  packages/aws-amplify-react/src/Auth/Loading.jsx
  packages/aws-amplify-react/src/Auth/RequireNewPassword.jsx
  packages/aws-amplify-react/src/Auth/SignIn.jsx
  packages/aws-amplify-react/src/Auth/SignOut.jsx
  packages/aws-amplify-react/src/Auth/SignUp.jsx
  packages/aws-amplify-react/src/Auth/TOTPSetup.jsx
  packages/aws-amplify-react/src/Auth/VerifyContact.jsx
  packages/aws-amplify-vue/__tests__/SignIn.test.js
  packages/aws-amplify-vue/__tests__/SignUp.test.js
  packages/aws-amplify-vue/src/assets/data-test-attributes.js
  packages/aws-amplify-vue/src/components/authenticator/ConfirmSignIn.vue
  packages/aws-amplify-vue/src/components/authenticator/ConfirmSignUp.vue
  packages/aws-amplify-vue/src/components/authenticator/ForgotPassword.vue
  packages/aws-amplify-vue/src/components/authenticator/RequireNewPassword.vue
  packages/aws-amplify-vue/src/components/authenticator/SetMFA.vue
  packages/aws-amplify-vue/src/components/authenticator/SignIn.vue
  packages/aws-amplify-vue/src/components/authenticator/SignOut.vue
  packages/aws-amplify-vue/src/components/authenticator/SignUp.vue
  packages/aws-amplify-vue/src/components/xr/SumerianScene.vue
Labels: review

#3122 Appsync multi auth
  packages/api/__tests__/API-test.ts
  packages/api/src/API.ts
  packages/api/src/types/index.ts
Labels: review

#3259 move @types/* from dependencies to dev-dependencies
  packages/api/package.json
  packages/aws-amplify-angular/package.json
  packages/pubsub/package.json
Labels: review

#2656 fix(@aws-amplify-vue/auth): exception in QrcodeVue because of invalid parameter type
  packages/aws-amplify-vue/__tests__/SetMFA.test.js
  packages/aws-amplify-vue/src/components/authenticator/SetMFA.vue
Labels: review

#3301 fix(@amazon-cognito-identity-js): Adds sendMFASelectionAnswer to types
  packages/amazon-cognito-identity-js/index.d.ts
Labels: pending-close-response-required
