Repository aws-amplify/amplify-js, pull requests merged in 2019-04, with the labels that each got.

#2964 fix(aws-amplify-vue): Change the event name to signIn
  packages/aws-amplify-vue/README.md
  packages/aws-amplify-vue/__tests__/ConfirmSignUp.test.js
  packages/aws-amplify-vue/__tests__/ForgotPassword.test.js
  packages/aws-amplify-vue/src/components/authenticator/Authenticator.vue
  packages/aws-amplify-vue/src/components/authenticator/ConfirmSignIn.vue
  packages/aws-amplify-vue/src/components/authenticator/ConfirmSignUp.vue
  packages/aws-amplify-vue/src/components/authenticator/ForgotPassword.vue
  packages/aws-amplify-vue/src/components/authenticator/RequireNewPassword.vue
  packages/aws-amplify-vue/src/components/authenticator/SignUp.vue
Labels: review

#2992 Adding compatibility for Symbol
  packages/analytics/src/Analytics.ts
  packages/analytics/src/Providers/AWSPinpointProvider.ts
  packages/auth/src/Auth.ts
  packages/core/__tests__/Hub-test.ts
  packages/core/__tests__/HubClass-test.ts
  packages/core/src/Hub.ts
  packages/storage/src/Providers/AWSS3Provider.ts
Labels: review

#3002 fix hub this binding issue
  packages/core/__tests__/Hub-test.ts
  packages/core/src/Hub.ts
Labels: review

#2999 fix: update cypress version and fix auth text check
  package.json
  packages/aws-amplify-react/cypress/integration/auth_spec.js
  yarn.lock
Labels: review

#3025 Log error in Analytics API if not configured
  packages/analytics/__tests__/Analytics-unit-test.ts
  packages/analytics/src/Analytics.ts
Labels: review

#2993 Fix README grammar
  README.md
Labels: review

#3023 Use input instead of prompt for password
  packages/amazon-cognito-identity-js/README.md
Labels: review

#3005 feat(@aws-amplify/auth): Easier Federation with OAuth
  packages/auth/__tests__/auth-unit-test.ts
  packages/auth/package.json
  packages/auth/src/Auth.ts
  packages/auth/src/OAuth/OAuth.ts
  packages/auth/src/OAuth/oauthStorage.native.ts
  packages/auth/src/OAuth/oauthStorage.ts
  packages/auth/src/OAuth/urlOpener.native.ts
  packages/auth/src/OAuth/urlOpener.ts
  packages/auth/src/types/Auth.ts
  packages/aws-amplify-react-native/src/Auth/withOAuth.js
  packages/aws-amplify-react/__tests__/Auth/Provider/withOAuth-test.js
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/SignIn-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/index-test.js.snap
  packages/aws-amplify-react/src/Auth/Provider/withOAuth.jsx
  packages/aws-amplify-react/src/Auth/common/constants.js
Labels: review

#3027 fix(aws-amplify-angular) no longer sets value of requiredpassword input field to the input field itself
  packages/aws-amplify-angular/src/components/authenticator/forgot-password-component/forgot-password.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-in-component/sign-in.component.core.ts
Labels: review

#3052 fix(aws-amplify-angular): major version bump
  packages/aws-amplify-angular/package.json
Labels: review

#3069 fix(@aws-amplify/auth): Valide OAuth state only when generated by Amlify
  packages/auth/src/OAuth/OAuth.ts
  packages/auth/src/types/Auth.ts
  packages/aws-amplify-react/__tests__/Auth/Provider/withOAuth-test.js
  packages/aws-amplify-react/src/Auth/Provider/withOAuth.jsx
Labels: review

#2916 fix(@aws-amplify/pushnotification): fetch and cache the token if not in local
  packages/pushnotification/android/src/main/java/com/amazonaws/amplify/pushnotification/RNPushNotificationModule.java
  packages/pushnotification/src/PushNotification.ts
Labels: review

#3082 Update use case 23
  packages/amazon-cognito-identity-js/README.md
Labels: review

#3059 Fix sourcemap paths
  packages/amazon-cognito-identity-js/webpack.config.js
  packages/amplify-ui/webpack.config.js
  packages/analytics/webpack.config.js
  packages/api/webpack.config.js
  packages/auth/webpack.config.js
  packages/aws-amplify/webpack-utils.js
  packages/aws-amplify/webpack.config.js
  packages/cache/webpack.config.js
  packages/core/webpack.config.js
  packages/interactions/webpack.config.js
  packages/pubsub/webpack.config.js
  packages/storage/webpack.config.js
  packages/xr/webpack.config.js
Labels: Build, bug, review

#3064 fix(@aws-amplify/storage): fix forward customPrefix to StorageProvider
  packages/storage/src/Storage.ts
Labels: review

#3083 fix(aws-amplify-angular): moves rxjs-compat to dependencies
  packages/aws-amplify-angular/package.json
Labels: review

#3112 fix(@aws-amplify/pushnotification): import necessary lib
  packages/pushnotification/android/src/main/java/com/amazonaws/amplify/pushnotification/RNPushNotificationModule.java
Labels: review

#3063 Added form to ConfirmSignIn
  packages/aws-amplify-react/__tests__/Auth/ConfirmSignIn-test.js
  packages/aws-amplify-react/src/Auth/ConfirmSignIn.jsx
Labels: review

#3113 fix(aws-amplify-angular): clears error message on state change
  packages/aws-amplify-angular/src/components/authenticator/confirm-sign-in-component/confirm-sign-in-component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/confirm-sign-up-component/confirm-sign-up.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/forgot-password-component/forgot-password.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/require-new-password-component/require-new-password.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-in-component/sign-in.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-up-component/sign-up.component.core.ts
Labels: review

#3026 fix(@aws-amplify/auth): throw error when passing empty object to storage or cookieStorage in configuration
  packages/amazon-cognito-identity-js/src/CookieStorage.js
  packages/auth/__tests__/auth-configure-test.ts
  packages/auth/src/Auth.ts
Labels: review

#3104 fix(aws-amplify-react-native): catch the error when verifying contact
  packages/aws-amplify-react-native/src/Auth/Authenticator.js
Labels: review

#3105 fix(@aws-amplify/core): directly return if input is null for function transferKeyToUpperCase/transferKeyToLowerCase
  packages/core/__tests__/JS-test.ts
  packages/core/src/JS.ts
Labels: review

#3091 feat(auth i18n french)
  packages/aws-amplify-react/src/AmplifyI18n.js
Labels: review

#3130 feat(@aws-amplify/xr): Changing signing logic in SumerianProvider to use Auth Headers instead of Query Params.
  packages/xr/src/Providers/SumerianProvider.ts
Labels: review

#3135 fix: adds label styling to verify contact component
  packages/amplify-ui/src/Input.css
  packages/aws-amplify-react/src/Amplify-UI/Amplify-UI-Theme.jsx
Labels: review

#3134 Remove unused dependencies in push notifications
  packages/pushnotification/android/build.gradle
  packages/pushnotification/android/libs/aws-android-sdk-auth-core-2.6.13.aar
  packages/pushnotification/android/libs/aws-android-sdk-cognito-2.6.13.jar
  packages/pushnotification/android/libs/aws-android-sdk-core-2.6.13.jar
  packages/pushnotification/android/libs/aws-android-sdk-mobile-client-2.6.13.aar
  packages/pushnotification/android/libs/aws-android-sdk-pinpoint-2.6.13.jar
Labels: review

#3148 fix(@aws-amplify/analytics): prevent sending reqeusts simultaneously if endpoint is not generated yet
  packages/analytics/src/Providers/AWSPinpointProvider.ts
  packages/analytics/src/index.ts
Labels: review

#3158 Use boolean type instead of string for local storage value
  packages/aws-amplify-react/src/Auth/Authenticator.jsx
Labels: review

#2928 fix(@aws-amplify/auth): fix 'Not Supported' error on SSR
  packages/auth/src/urlListener.ts
Labels: review

#2647 feat(@aws-amplify/auth): Allow bypassing cache on setPreferredMFA and getPreferredMFA methods
  packages/auth/src/Auth.ts
  packages/auth/src/types/Auth.ts
Labels: review

#3169 Parody for each framework to use hideAllDefaults in SignUp
  packages/aws-amplify-react/__tests__/Auth/SignUp-test.js
  packages/aws-amplify-vue/src/components/authenticator/SignUp.vue
Labels: review

#1388 feat(@aws-amplify/amazon-cognito-identity-js): for signUp, returns CodeDeliveryDetails
  packages/amazon-cognito-identity-js/index.d.ts
  packages/amazon-cognito-identity-js/src/CognitoUserPool.js
Labels: Cognito, review

#3170 Update vue to use lodash orderBy
  packages/aws-amplify-vue/package.json
  packages/aws-amplify-vue/src/components/authenticator/SignUp.vue
  yarn.lock
Labels: review

#3172 fix(@aws-amplify/auth): User may not be fully signed out
  packages/auth/src/Auth.ts
Labels: review

#3013 fix(aws-amplify-react-native): sets value of picker in VerifyContact component
  packages/aws-amplify-react-native/src/Auth/VerifyContact.js
Labels: review

#3199 Adding data-test attributes for authenticator cypress integ testing
  packages/aws-amplify-angular/src/components/authenticator/confirm-sign-in-component/confirm-sign-in-component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/confirm-sign-in-component/confirm-sign-in-component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/confirm-sign-up-component/confirm-sign-up.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/confirm-sign-up-component/confirm-sign-up.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/forgot-password-component/forgot-password.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/forgot-password-component/forgot-password.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/greeting-component/greeting.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/greeting-component/greeting.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/require-new-password-component/require-new-password.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/require-new-password-component/require-new-password.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-in-component/sign-in.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-in-component/sign-in.component.ionic.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-up-component/sign-up.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/sign-up-component/sign-up.component.ionic.ts
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/ConfirmSignIn-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/ConfirmSignUp-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/FederatedSignIn-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/ForgotPassword-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/Greetings-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/RequireNewPassword-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/SignIn-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/SignOut-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/SignUp-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/TOTPSetup-test.js.snap
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/VerifyContact-test.js.snap
  packages/aws-amplify-react/__tests__/Widget/__snapshots__/PhotoPicker-test.js.snap
  packages/aws-amplify-react/__tests__/Widget/__snapshots__/Picker-test.js.snap
  packages/aws-amplify-react/__tests__/Widget/__snapshots__/SelectMFAType-test.js.snap
  packages/aws-amplify-react/__tests__/Widget/__snapshots__/TOTPSetupComp-test.js.snap
  packages/aws-amplify-react/src/Amplify-UI/Amplify-UI-Components-React.jsx
  packages/aws-amplify-react/src/Auth/Authenticator.jsx
  packages/aws-amplify-react/src/Auth/ConfirmSignIn.jsx
  packages/aws-amplify-react/src/Auth/ConfirmSignUp.jsx
  packages/aws-amplify-react/src/Auth/FederatedSignIn.jsx
  packages/aws-amplify-react/src/Auth/ForgotPassword.jsx
  packages/aws-amplify-react/src/Auth/Greetings.jsx
  packages/aws-amplify-react/src/Auth/Loading.jsx
  packages/aws-amplify-react/src/Auth/RequireNewPassword.jsx
  packages/aws-amplify-react/src/Auth/SignIn.jsx
  packages/aws-amplify-react/src/Auth/SignOut.jsx
  packages/aws-amplify-react/src/Auth/SignUp.jsx
  packages/aws-amplify-react/src/Auth/TOTPSetup.jsx
  packages/aws-amplify-react/src/Auth/VerifyContact.jsx
  packages/aws-amplify-vue/__tests__/SignIn.test.js
  packages/aws-amplify-vue/__tests__/SignUp.test.js
  packages/aws-amplify-vue/src/components/authenticator/ConfirmSignIn.vue
  packages/aws-amplify-vue/src/components/authenticator/ConfirmSignUp.vue
  packages/aws-amplify-vue/src/components/authenticator/ForgotPassword.vue
  packages/aws-amplify-vue/src/components/authenticator/RequireNewPassword.vue
  packages/aws-amplify-vue/src/components/authenticator/SetMFA.vue
  packages/aws-amplify-vue/src/components/authenticator/SignIn.vue
  packages/aws-amplify-vue/src/components/authenticator/SignOut.vue
  packages/aws-amplify-vue/src/components/authenticator/SignUp.vue
Labels: review
