Repository aws-amplify/amplify-js, pull requests merged in 2019-08, with the labels that each got.

#3593 fix(aws-amplify-react-native): Allow non USA dial codes on react native
  packages/aws-amplify-react-native/src/Auth/SignUp.js
Labels: React Native

#3102 fix(aws-amplify-react-native): Use more compatible default export syntax
  packages/aws-amplify-react-native/src/AmplifyMessageMap.js
  packages/aws-amplify-react-native/src/AmplifyTheme.js
Labels: React Native

#3881 feat:(Form Section Component)
  packages/amplify-ui-components/package.json
  packages/amplify-ui-components/screenshot/images/4c0233dbef3ec4e074d1347b2d01850e.png
  packages/amplify-ui-components/src/common/constants.ts
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-authenticator/readme.md
  packages/amplify-ui-components/src/components/amplify-button/readme.md
  packages/amplify-ui-components/src/components/amplify-checkbox/readme.md
  packages/amplify-ui-components/src/components/amplify-examples/example1.tsx
  packages/amplify-ui-components/src/components/amplify-examples/readme.md
  packages/amplify-ui-components/src/components/amplify-form-section/__snapshots__/amplify-form-section.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-form-section/amplify-form-section-interface.ts
  packages/amplify-ui-components/src/components/amplify-form-section/amplify-form-section.e2e.ts
  packages/amplify-ui-components/src/components/amplify-form-section/amplify-form-section.spec.ts
  packages/amplify-ui-components/src/components/amplify-form-section/amplify-form-section.stories.tsx
  packages/amplify-ui-components/src/components/amplify-form-section/amplify-form-section.style.ts
  packages/amplify-ui-components/src/components/amplify-form-section/amplify-form-section.tsx
  packages/amplify-ui-components/src/components/amplify-form-section/readme.md
  packages/amplify-ui-components/src/components/amplify-radio-button/readme.md
  packages/amplify-ui-components/src/components/amplify-section-header/amplify-section-header.style.ts
  packages/amplify-ui-components/src/components/amplify-section-header/amplify-section-header.tsx
  packages/amplify-ui-components/src/components/amplify-section-header/readme.md
  packages/amplify-ui-components/src/components/amplify-section/amplify-section.tsx
  packages/amplify-ui-components/src/components/amplify-section/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/readme.md
Labels: UI

#3908 Husky pre-push script update
  packages/amplify-ui-components/package.json
Labels: UI

#3951 Remove package-lock, cypress code from react package
  packages/aws-amplify-react/__tests__/Auth/__snapshots__/ForgotPassword-test.js.snap
  packages/aws-amplify-react/__tests__/XR/__snapshots__/Loading-test.js.snap
  packages/aws-amplify-react/__tests__/XR/__snapshots__/SumerianScene-test.js.snap
  packages/aws-amplify-react/cypress.json
  packages/aws-amplify-react/cypress/fixtures/example.json
  packages/aws-amplify-react/cypress/integration/auth_spec.js
  packages/aws-amplify-react/cypress/plugins/index.js
  packages/aws-amplify-react/cypress/support/commands.js
  packages/aws-amplify-react/cypress/support/index.js
  packages/aws-amplify-react/package-lock.json
Labels: React

#3952 fix(aws-amplify-react-native): removing axios dependency
  packages/aws-amplify-react-native/package.json
Labels: React Native
