Repository aws-amplify/amplify-js, pull requests merged in 2019-10, with the labels that each got.

#4121 chore: Example updates and small refactoring
  packages/amplify-ui-components/package.json
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-auth-fields/amplify-auth-fields-interface.ts
  packages/amplify-ui-components/src/components/amplify-examples/amplify/#current-cloud-backend/amplify-meta.json
  packages/amplify-ui-components/src/components/amplify-examples/amplify/#current-cloud-backend/auth/cognito5e8d6bdf/cognito5e8d6bdf-cloudformation-template.yml
  packages/amplify-ui-components/src/components/amplify-examples/amplify/#current-cloud-backend/auth/cognito5e8d6bdf/parameters.json
  packages/amplify-ui-components/src/components/amplify-examples/amplify/#current-cloud-backend/backend-config.json
  packages/amplify-ui-components/src/components/amplify-examples/amplify/#current-cloud-backend/xr/scene1/parameters.json
  packages/amplify-ui-components/src/components/amplify-examples/amplify/#current-cloud-backend/xr/scene1/template.json
  packages/amplify-ui-components/src/components/amplify-examples/amplify/.config/local-env-info.json
  packages/amplify-ui-components/src/components/amplify-examples/amplify/backend/amplify-meta.json
  packages/amplify-ui-components/src/components/amplify-password-field/amplify-password-field.tsx
  packages/amplify-ui-components/src/components/amplify-scene/amplify-scene.tsx
  packages/amplify-ui-components/stencil.config.ts
  yarn.lock
Labels: UI

#4103 [Delivers #168789986] Migrate Interactions category to use aws-sdk v3 clients
  packages/interactions/__tests__/Interactions-unit-test.ts
  packages/interactions/package.json
  packages/interactions/src/Providers/AWSLexProvider.ts
Labels: AWS-SDK-V3-Migration, Interactions, Modularization

#4135 fix(#3950): picker style issue
  packages/aws-amplify-react/src/Widget/Picker.tsx
Labels: UI

#4183 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/usage-question.md
Labels: documentation

#4129 feat: Base scaffolding for Authenticator component
  packages/amplify-ui-components/screenshot/images/35e3e3e064a7efa77138fb4c8f260ee7.png
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-authenticator/Tunnel.tsx
  packages/amplify-ui-components/src/components/amplify-authenticator/__snapshots__/amplify-authenticator.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.e2e.ts
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.spec.ts
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.stories.tsx
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
  packages/amplify-ui-components/src/components/amplify-authenticator/readme.md
  packages/amplify-ui-components/src/components/amplify-authenticator/types.ts
  packages/amplify-ui-components/src/components/amplify-button/readme.md
  packages/amplify-ui-components/src/components/amplify-examples/amplify-examples.tsx
  packages/amplify-ui-components/src/components/amplify-examples/example1.tsx
  packages/amplify-ui-components/src/components/amplify-examples/example2.tsx
  packages/amplify-ui-components/src/components/amplify-examples/example3.tsx
  packages/amplify-ui-components/src/components/amplify-examples/readme.md
  packages/amplify-ui-components/src/components/amplify-form-field/readme.md
  packages/amplify-ui-components/src/components/amplify-link/readme.md
  packages/amplify-ui-components/src/components/amplify-select/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-in/__snapshots__/amplify-sign-in.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-forgot-password-hint.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in-form-footer.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in-interface.ts
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.spec.ts
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/readme.md
  packages/amplify-ui-components/src/data/auth-state.tsx
Labels: UI

#4084 [Delivers #168673139] Migrate Predictions category to use aws-sdk v3 clients
  packages/predictions/__tests__/Providers/AWSAIConvertPredictionsProvider-unit-test.ts
  packages/predictions/__tests__/Providers/AWSAIIdentifyPredictionsProvider-unit-test.ts
  packages/predictions/__tests__/Providers/AWSAIInterpretPredictionsProvider-unit-test.ts
  packages/predictions/package.json
  packages/predictions/src/Providers/AmazonAIConvertPredictionsProvider.ts
  packages/predictions/src/Providers/AmazonAIIdentifyPredictionsProvider.ts
  packages/predictions/src/Providers/AmazonAIInterpretPredictionsProvider.ts
  packages/predictions/src/Providers/IdentifyTextUtils.ts
  packages/predictions/src/types/AWSTypes.ts
  packages/predictions/src/types/Predictions.ts
Labels: AWS-SDK-V3-Migration, Modularization, Predictions

#4190 Input Component Updates
  packages/amplify-ui-components/.gitignore
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-examples/.gitignore
  packages/amplify-ui-components/src/components/amplify-examples/amplify/#current-cloud-backend/amplify-meta.json
  packages/amplify-ui-components/src/components/amplify-examples/amplify/#current-cloud-backend/backend-config.json
  packages/amplify-ui-components/src/components/amplify-examples/amplify/.config/local-aws-info.json
  packages/amplify-ui-components/src/components/amplify-examples/amplify/.config/local-env-info.json
  packages/amplify-ui-components/src/components/amplify-examples/amplify/.config/project-config.json
  packages/amplify-ui-components/src/components/amplify-examples/amplify/backend/amplify-meta.json
  packages/amplify-ui-components/src/components/amplify-form-field/__snapshots__/amplify-form-field.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-form-field/amplify-form-field.spec.ts
  packages/amplify-ui-components/src/components/amplify-form-field/amplify-form-field.tsx
  packages/amplify-ui-components/src/components/amplify-form-field/readme.md
  packages/amplify-ui-components/src/components/amplify-input/__snapshots__/amplify-input.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-input/amplify-input.spec.ts
  packages/amplify-ui-components/src/components/amplify-input/amplify-input.tsx
  packages/amplify-ui-components/src/components/amplify-input/readme.md
Labels: UI

#4193 feat: amplify-sign-in component, authState refactor
  packages/amplify-ui-components/package.json
  packages/amplify-ui-components/src/common/types/auth-types.ts
  packages/amplify-ui-components/src/common/types/ui-types.ts
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-auth-fields/amplify-auth-fields-interface.ts
  packages/amplify-ui-components/src/components/amplify-auth-fields/component-field-mapping.tsx
  packages/amplify-ui-components/src/components/amplify-authenticator/__snapshots__/amplify-authenticator.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.e2e.ts
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.spec.ts
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
  packages/amplify-ui-components/src/components/amplify-authenticator/readme.md
  packages/amplify-ui-components/src/components/amplify-authenticator/types.ts
  packages/amplify-ui-components/src/components/amplify-button/amplify-button.e2e.ts
  packages/amplify-ui-components/src/components/amplify-button/amplify-button.tsx
  packages/amplify-ui-components/src/components/amplify-button/readme.md
  packages/amplify-ui-components/src/components/amplify-code-field/amplify-code-field.tsx
  packages/amplify-ui-components/src/components/amplify-code-field/readme.md
  packages/amplify-ui-components/src/components/amplify-email-field/amplify-email-field.tsx
  packages/amplify-ui-components/src/components/amplify-email-field/readme.md
  packages/amplify-ui-components/src/components/amplify-examples/.gitignore
  packages/amplify-ui-components/src/components/amplify-examples/amplify-examples.tsx
  packages/amplify-ui-components/src/components/amplify-examples/amplify/team-provider-info.json
  packages/amplify-ui-components/src/components/amplify-examples/example1.tsx
  packages/amplify-ui-components/src/components/amplify-form-field/amplify-form-field.e2e.ts
  packages/amplify-ui-components/src/components/amplify-form-field/amplify-form-field.tsx
  packages/amplify-ui-components/src/components/amplify-form-field/readme.md
  packages/amplify-ui-components/src/components/amplify-input/amplify-input.e2e.ts
  packages/amplify-ui-components/src/components/amplify-input/amplify-input.tsx
  packages/amplify-ui-components/src/components/amplify-input/readme.md
  packages/amplify-ui-components/src/components/amplify-password-field/__snapshots__/amplify-password-field.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-password-field/amplify-password-field.tsx
  packages/amplify-ui-components/src/components/amplify-password-field/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-in/__snapshots__/amplify-sign-in.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-forgot-password-hint.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.spec.ts
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/readme.md
  packages/amplify-ui-components/src/components/amplify-username-field/amplify-username-field.tsx
  packages/amplify-ui-components/src/components/amplify-username-field/readme.md
  packages/amplify-ui-components/src/data/auth-state.tsx
  packages/amplify-ui-components/src/index.html
Labels: UI

#4153 Add autocomplete="off" to forgot password inputs (Angular components)
  packages/aws-amplify-angular/src/components/authenticator/forgot-password-component/forgot-password.component.core.ts
Labels: Angular, needs-review

#4201 feat:(@aws-amplify/ui-components) amplify-sign-up component
  packages/amplify-ui-components/.eslintrc.js
  packages/amplify-ui-components/.prettierignore
  packages/amplify-ui-components/src/common/constants.ts
  packages/amplify-ui-components/src/common/types/auth-types.ts
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-auth-fields/readme.md
  packages/amplify-ui-components/src/components/amplify-authenticator/__snapshots__/amplify-authenticator.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.spec.ts
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
  packages/amplify-ui-components/src/components/amplify-authenticator/readme.md
  packages/amplify-ui-components/src/components/amplify-button/amplify-button.e2e.ts
  packages/amplify-ui-components/src/components/amplify-button/readme.md
  packages/amplify-ui-components/src/components/amplify-examples/readme.md
  packages/amplify-ui-components/src/components/amplify-form-section/readme.md
  packages/amplify-ui-components/src/components/amplify-link/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.spec.ts
  packages/amplify-ui-components/src/components/amplify-sign-up/__snapshots__/amplify-sign-up.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up-form-footer.tsx
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up-interface.ts
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.spec.ts
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.stories.tsx
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.styles.ts
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.tsx
  packages/amplify-ui-components/src/components/amplify-sign-up/readme.md
Labels: UI

#4241 fix: Use exact version of the @aws-sdk V3 packages
  packages/predictions/package.json
Labels: Predictions

#4238 feat:(@aws-amplify/ui-components) amplify-forgot-password component
  packages/amplify-ui-components/src/common/constants.ts
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-auth-fields/amplify-auth-fields-interface.ts
  packages/amplify-ui-components/src/components/amplify-auth-fields/component-field-mapping.tsx
  packages/amplify-ui-components/src/components/amplify-auth-fields/readme.md
  packages/amplify-ui-components/src/components/amplify-authenticator/__snapshots__/amplify-authenticator.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
  packages/amplify-ui-components/src/components/amplify-authenticator/readme.md
  packages/amplify-ui-components/src/components/amplify-button/readme.md
  packages/amplify-ui-components/src/components/amplify-code-field/amplify-code-field.tsx
  packages/amplify-ui-components/src/components/amplify-code-field/readme.md
  packages/amplify-ui-components/src/components/amplify-email-field/amplify-email-field.tsx
  packages/amplify-ui-components/src/components/amplify-email-field/readme.md
  packages/amplify-ui-components/src/components/amplify-examples/example1.tsx
  packages/amplify-ui-components/src/components/amplify-examples/readme.md
  packages/amplify-ui-components/src/components/amplify-forgot-password/__snapshots__/amplify-forgot-password.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-forgot-password/amplify-forgot-password-interface.ts
  packages/amplify-ui-components/src/components/amplify-forgot-password/amplify-forgot-password.spec.ts
  packages/amplify-ui-components/src/components/amplify-forgot-password/amplify-forgot-password.stories.tsx
  packages/amplify-ui-components/src/components/amplify-forgot-password/amplify-forgot-password.tsx
  packages/amplify-ui-components/src/components/amplify-forgot-password/readme.md
  packages/amplify-ui-components/src/components/amplify-form-field/amplify-form-field.tsx
  packages/amplify-ui-components/src/components/amplify-form-field/readme.md
  packages/amplify-ui-components/src/components/amplify-form-section/__snapshots__/amplify-form-section.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-form-section/amplify-form-section-interface.ts
  packages/amplify-ui-components/src/components/amplify-form-section/amplify-form-section.style.ts
  packages/amplify-ui-components/src/components/amplify-form-section/amplify-form-section.tsx
  packages/amplify-ui-components/src/components/amplify-form-section/readme.md
  packages/amplify-ui-components/src/components/amplify-input/amplify-input.tsx
  packages/amplify-ui-components/src/components/amplify-input/readme.md
  packages/amplify-ui-components/src/components/amplify-link/readme.md
  packages/amplify-ui-components/src/components/amplify-password-field/amplify-password-field.tsx
  packages/amplify-ui-components/src/components/amplify-password-field/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-in/__snapshots__/amplify-sign-in.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-forgot-password-hint.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in-form-footer.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.tsx
  packages/amplify-ui-components/src/components/amplify-sign-up/readme.md
  packages/amplify-ui-components/src/components/amplify-username-field/amplify-username-field.tsx
  packages/amplify-ui-components/src/components/amplify-username-field/readme.md
Labels: UI

#4254 fix typescript build not failing due to errors
  packages/analytics/src/setupTests.ts
  packages/analytics/src/vendor/dom-utils/matches.ts
  packages/aws-amplify-react/src/Widget/PhotoPicker.tsx
  packages/aws-amplify-react/src/Widget/TextPicker.tsx
  packages/aws-amplify-react/src/browser.d.ts
  packages/pubsub/__mocks__/paho-mqtt.js
  packages/pubsub/__tests__/PubSub-unit-test.ts
  packages/pubsub/package.json
  packages/pubsub/src/Providers/MqttOverWSProvider.ts
  packages/pubsub/src/vendor/paho-mqtt.js
  scripts/build.js
Labels: Modularization

#4247 fix(aws-amplify-react) disables signup button while request is in flight
  packages/aws-amplify-react/__tests__/Auth/SignUp-test.tsx
  packages/aws-amplify-react/src/Auth/AuthPiece.tsx
  packages/aws-amplify-react/src/Auth/SignUp.tsx
Labels: React

#4253 feat(@aws-amplify/ui-components): amplify-confirm-sign-up
  packages/amplify-ui-components/src/common/constants.ts
  packages/amplify-ui-components/src/common/types/auth-types.ts
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-auth-fields/amplify-auth-fields-interface.ts
  packages/amplify-ui-components/src/components/amplify-auth-fields/component-field-mapping.tsx
  packages/amplify-ui-components/src/components/amplify-auth-fields/readme.md
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
  packages/amplify-ui-components/src/components/amplify-authenticator/readme.md
  packages/amplify-ui-components/src/components/amplify-code-field/amplify-code-field.tsx
  packages/amplify-ui-components/src/components/amplify-code-field/readme.md
  packages/amplify-ui-components/src/components/amplify-confirm-sign-up/__snapshots__/amplify-confirm-sign-up.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-confirm-sign-up/amplify-confirm-sign-up.spec.ts
  packages/amplify-ui-components/src/components/amplify-confirm-sign-up/amplify-confirm-sign-up.stories.tsx
  packages/amplify-ui-components/src/components/amplify-confirm-sign-up/amplify-confirm-sign-up.tsx
  packages/amplify-ui-components/src/components/amplify-confirm-sign-up/readme.md
  packages/amplify-ui-components/src/components/amplify-email-field/amplify-email-field.tsx
  packages/amplify-ui-components/src/components/amplify-email-field/readme.md
  packages/amplify-ui-components/src/components/amplify-examples/readme.md
  packages/amplify-ui-components/src/components/amplify-form-field/amplify-form-field.tsx
  packages/amplify-ui-components/src/components/amplify-form-field/readme.md
  packages/amplify-ui-components/src/components/amplify-form-section/readme.md
  packages/amplify-ui-components/src/components/amplify-input/amplify-input.tsx
  packages/amplify-ui-components/src/components/amplify-input/readme.md
  packages/amplify-ui-components/src/components/amplify-link/readme.md
  packages/amplify-ui-components/src/components/amplify-password-field/amplify-password-field.tsx
  packages/amplify-ui-components/src/components/amplify-password-field/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.tsx
  packages/amplify-ui-components/src/components/amplify-username-field/amplify-username-field.tsx
  packages/amplify-ui-components/src/components/amplify-username-field/readme.md
Labels: UI

#4267 chore: use npxinfo to simplify bug reports
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: documentation

#4292 [Fix] Handle form input on Android-Web
  packages/aws-amplify-vue/src/components/authenticator/PhoneField.vue
  packages/aws-amplify-vue/src/components/authenticator/UsernameField.vue
Labels: needs-review

#4281 fix(@aws-amplify/auth): NotAuthorizedException
  packages/auth/src/Auth.ts
Labels: needs-review

#4296 fix(scripts/build): windows build
  .github/ISSUE_TEMPLATE/bug_report.md
  scripts/build.js
Labels: needs-review
