Repository aws-amplify/amplify-js, pull requests merged in 2019-11, with the labels that each got.

#4248 feat(@aws-amplify/ui-components): Add inputProps and update Stencil
  packages/amplify-ui-components/package.json
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-auth-fields/amplify-auth-fields-interface.ts
  packages/amplify-ui-components/src/components/amplify-auth-fields/component-field-mapping.tsx
  packages/amplify-ui-components/src/components/amplify-checkbox/amplify-checkbox.tsx
  packages/amplify-ui-components/src/components/amplify-code-field/amplify-code-field.tsx
  packages/amplify-ui-components/src/components/amplify-code-field/readme.md
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/readme.md
  packages/amplify-ui-components/src/components/amplify-email-field/amplify-email-field.tsx
  packages/amplify-ui-components/src/components/amplify-email-field/readme.md
  packages/amplify-ui-components/src/components/amplify-form-field/amplify-form-field.tsx
  packages/amplify-ui-components/src/components/amplify-form-field/readme.md
  packages/amplify-ui-components/src/components/amplify-input/__snapshots__/amplify-input.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-input/amplify-input.spec.ts
  packages/amplify-ui-components/src/components/amplify-input/amplify-input.tsx
  packages/amplify-ui-components/src/components/amplify-input/readme.md
  packages/amplify-ui-components/src/components/amplify-password-field/amplify-password-field.tsx
  packages/amplify-ui-components/src/components/amplify-password-field/readme.md
  packages/amplify-ui-components/src/components/amplify-radio-button/amplify-radio-button.tsx
  packages/amplify-ui-components/src/components/amplify-username-field/amplify-username-field.tsx
  packages/amplify-ui-components/src/components/amplify-username-field/readme.md
  yarn.lock
Labels: UI

#4078 [Delivers #168673124] Migrate S3 client to aws sdk V3
  packages/storage/__tests__/Providers/AWSS3Provider-unit-test.ts
  packages/storage/package.json
  packages/storage/src/providers/AWSS3Provider.ts
Labels: AWS-SDK-V3-Migration, Modularization

#4150 [Delivers #168673140] Migrate AWS SDK calls to V3 for analytics category
  packages/analytics/__tests__/Providers/AWSKinesisProvider-unit-test.ts
  packages/analytics/__tests__/Providers/AWSPinpointProvider-unit-test.ts
  packages/analytics/__tests__/Providers/AmazonPersonalizeProvider-unit-test.ts
  packages/analytics/package.json
  packages/analytics/src/Providers/AWSKinesisProvider.ts
  packages/analytics/src/Providers/AWSPinpointProvider.ts
  packages/analytics/src/Providers/AmazonPersonalizeProvider.ts
  packages/interactions/package.json
  packages/interactions/src/Providers/AWSLexProvider.ts
Labels: AWS-SDK-V3-Migration, Analytics, Modularization

#4252 feat(@aws-amplify/ui-components): amplify-confirm-sign-in
  packages/amplify-ui-components/src/common/constants.ts
  packages/amplify-ui-components/src/common/types/auth-types.ts
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-auth-fields/readme.md
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
  packages/amplify-ui-components/src/components/amplify-authenticator/readme.md
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/__snapshots__/amplify-confirm-sign-in.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/amplify-confirm-sign-in.spec.ts
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/amplify-confirm-sign-in.stories.tsx
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/amplify-confirm-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-examples/amplify-examples.tsx
  packages/amplify-ui-components/src/components/amplify-examples/authenticator.tsx
  packages/amplify-ui-components/src/components/amplify-examples/readme.md
  packages/amplify-ui-components/src/components/amplify-form-section/readme.md
  packages/amplify-ui-components/src/components/amplify-link/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/readme.md
Labels: UI

#4077 [Delivers #168673137] Migrate core category to aws sdk V3
  .circleci/config.yml
  .prettierignore
  packages/amazon-cognito-identity-js/.eslintrc.yaml
  packages/analytics/src/Providers/AWSPinpointProvider.ts
  packages/auth/src/Auth.ts
  packages/core/__tests__/Credentials-test.ts
  packages/core/__tests__/Signer-test.ts
  packages/core/package.json
  packages/core/src/Credentials.ts
  packages/core/src/Facet.ts
  packages/core/src/Platform/index.ts
  packages/core/src/Signer.ts
  packages/core/src/index.ts
  packages/interactions/__tests__/Interactions-unit-test.ts
  packages/xr/src/Providers/SumerianProvider.ts
Labels: AWS-SDK-V3-Migration, Modularization

#4348 feat(@aws-amplify/ui-components): amplify-phone-field
  packages/amplify-ui-components/src/common/constants.ts
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-auth-fields/component-field-mapping.tsx
  packages/amplify-ui-components/src/components/amplify-auth-fields/readme.md
  packages/amplify-ui-components/src/components/amplify-authenticator/readme.md
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/readme.md
  packages/amplify-ui-components/src/components/amplify-confirm-sign-up/readme.md
  packages/amplify-ui-components/src/components/amplify-country-dial-code/__snapshots__/amplify-country-dial-code.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-country-dial-code/amplify-country-dial-code.tsx
  packages/amplify-ui-components/src/components/amplify-country-dial-code/readme.md
  packages/amplify-ui-components/src/components/amplify-examples/readme.md
  packages/amplify-ui-components/src/components/amplify-forgot-password/readme.md
  packages/amplify-ui-components/src/components/amplify-form-field/readme.md
  packages/amplify-ui-components/src/components/amplify-input/amplify-input.style.ts
  packages/amplify-ui-components/src/components/amplify-input/readme.md
  packages/amplify-ui-components/src/components/amplify-phone-field/__snapshots__/amplify-phone-field.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-phone-field/amplify-phone-field.e2e.ts
  packages/amplify-ui-components/src/components/amplify-phone-field/amplify-phone-field.spec.ts
  packages/amplify-ui-components/src/components/amplify-phone-field/amplify-phone-field.style.ts
  packages/amplify-ui-components/src/components/amplify-phone-field/amplify-phone-field.tsx
  packages/amplify-ui-components/src/components/amplify-phone-field/readme.md
  packages/amplify-ui-components/src/components/amplify-select/__snapshots__/amplify-select.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-select/amplify-select.spec.ts
  packages/amplify-ui-components/src/components/amplify-select/amplify-select.style.ts
  packages/amplify-ui-components/src/components/amplify-select/amplify-select.tsx
  packages/amplify-ui-components/src/components/amplify-select/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-in/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up-interface.ts
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.tsx
  packages/amplify-ui-components/src/components/amplify-sign-up/readme.md
Labels: UI

#4364 feat(@aws-amplify/ui-components): amplify-sign-out
  packages/amplify-ui-components/src/common/constants.ts
  packages/amplify-ui-components/src/common/testing.ts
  packages/amplify-ui-components/src/common/types/auth-types.ts
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-authenticator/__snapshots__/amplify-authenticator.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
  packages/amplify-ui-components/src/components/amplify-authenticator/readme.md
  packages/amplify-ui-components/src/components/amplify-button/readme.md
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/amplify-confirm-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-examples/amplify-examples.tsx
  packages/amplify-ui-components/src/components/amplify-examples/authenticator-example.tsx
  packages/amplify-ui-components/src/components/amplify-examples/authenticator.tsx
  packages/amplify-ui-components/src/components/amplify-examples/readme.md
  packages/amplify-ui-components/src/components/amplify-examples/scene-example.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-sign-out/__snapshots__/amplify-sign-out.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-sign-out/amplify-sign-out.spec.ts
  packages/amplify-ui-components/src/components/amplify-sign-out/amplify-sign-out.stories.tsx
  packages/amplify-ui-components/src/components/amplify-sign-out/amplify-sign-out.tsx
  packages/amplify-ui-components/src/components/amplify-sign-out/readme.md
Labels: UI

#4397 chore: (Updating package.json / CircleCI config)
  .circleci/config.yml
  package.json
Labels: Build

#4400 chore: (aws-amplify@2.0.0) Moving AWS Amplify JS to 2.0.0
  packages/analytics/package.json
  packages/api/package.json
  packages/auth/package.json
  packages/aws-amplify-angular/package.json
  packages/aws-amplify-react-native/package.json
  packages/aws-amplify-react/package.json
  packages/aws-amplify-vue/package.json
  packages/aws-amplify/package.json
  packages/cache/package.json
  packages/core/package.json
  packages/interactions/package.json
  packages/predictions/package.json
  packages/pubsub/package.json
  packages/pushnotification/package.json
  packages/storage/package.json
  packages/xr/package.json
Labels: Build

#4412 feat(@aws-amplify/ui-components): amplify-greetings/amplify-nav
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-authenticator/__snapshots__/amplify-authenticator.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
  packages/amplify-ui-components/src/components/amplify-authenticator/readme.md
  packages/amplify-ui-components/src/components/amplify-examples/readme.md
  packages/amplify-ui-components/src/components/amplify-greetings/__snapshots__/amplify-greetings.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-greetings/amplify-greetings.spec.ts
  packages/amplify-ui-components/src/components/amplify-greetings/amplify-greetings.stories.tsx
  packages/amplify-ui-components/src/components/amplify-greetings/amplify-greetings.style.ts
  packages/amplify-ui-components/src/components/amplify-greetings/amplify-greetings.tsx
  packages/amplify-ui-components/src/components/amplify-greetings/readme.md
  packages/amplify-ui-components/src/components/amplify-nav/__snapshots__/amplify-nav.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-nav/amplify-nav.spec.ts
  packages/amplify-ui-components/src/components/amplify-nav/amplify-nav.stories.tsx
  packages/amplify-ui-components/src/components/amplify-nav/amplify-nav.style.ts
  packages/amplify-ui-components/src/components/amplify-nav/amplify-nav.tsx
  packages/amplify-ui-components/src/components/amplify-nav/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-out/readme.md
  packages/amplify-ui-components/src/global/variables.css
Labels: UI

#2823 Add analytics provider for AWS Firehose
  packages/analytics/__tests__/Providers/AWSKinesisFirehoseProvider-unit-test.ts
  packages/analytics/src/Providers/AWSKinesisFirehoseProvider.ts
  packages/analytics/src/Providers/AWSKinesisProvider.ts
  packages/analytics/src/Providers/index.ts
  packages/aws-amplify/src/index.ts
Labels: feature-request, needs-review

#4421 feat(@aws-amplify/ui-components): amplify-require-new-password component
  packages/amplify-ui-components/src/common/constants.ts
  packages/amplify-ui-components/src/common/types/auth-types.ts
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-auth-fields/amplify-auth-fields-interface.ts
  packages/amplify-ui-components/src/components/amplify-auth-fields/amplify-auth-fields.tsx
  packages/amplify-ui-components/src/components/amplify-auth-fields/readme.md
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
  packages/amplify-ui-components/src/components/amplify-authenticator/readme.md
  packages/amplify-ui-components/src/components/amplify-examples/readme.md
  packages/amplify-ui-components/src/components/amplify-form-section/readme.md
  packages/amplify-ui-components/src/components/amplify-greetings/readme.md
  packages/amplify-ui-components/src/components/amplify-link/readme.md
  packages/amplify-ui-components/src/components/amplify-require-new-password/__snapshots__/amplify-require-new-password.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-require-new-password/amplify-require-new-password.spec.ts
  packages/amplify-ui-components/src/components/amplify-require-new-password/amplify-require-new-password.stories.tsx
  packages/amplify-ui-components/src/components/amplify-require-new-password/amplify-require-new-password.tsx
  packages/amplify-ui-components/src/components/amplify-require-new-password/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.tsx
Labels: UI

#4453 chore(@aws-amplify/ui-components): federated components use sem…
  packages/amplify-ui-components/src/components/amplify-amazon-button/amplify-amazon-button.tsx
  packages/amplify-ui-components/src/components/amplify-auth0-button/amplify-auth0-button.tsx
  packages/amplify-ui-components/src/components/amplify-facebook-button/amplify-facebook-button.tsx
  packages/amplify-ui-components/src/components/amplify-google-button/amplify-google-button.tsx
  packages/amplify-ui-components/src/components/amplify-oauth-button/amplify-oauth-button.tsx
Labels: UI

#4454 chore(@aws-amplify/ui-components): AuthStateHandler type
  packages/amplify-ui-components/src/common/types/auth-types.ts
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-amazon-button/amplify-amazon-button.tsx
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/amplify-confirm-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-confirm-sign-up/amplify-confirm-sign-up.tsx
  packages/amplify-ui-components/src/components/amplify-confirm-sign-up/readme.md
  packages/amplify-ui-components/src/components/amplify-facebook-button/amplify-facebook-button.tsx
  packages/amplify-ui-components/src/components/amplify-federated-buttons/amplify-federated-buttons.tsx
  packages/amplify-ui-components/src/components/amplify-forgot-password/amplify-forgot-password.tsx
  packages/amplify-ui-components/src/components/amplify-google-button/amplify-google-button.tsx
  packages/amplify-ui-components/src/components/amplify-greetings/amplify-greetings.tsx
  packages/amplify-ui-components/src/components/amplify-require-new-password/amplify-require-new-password.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-sign-out/amplify-sign-out.tsx
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.tsx
Labels: UI
