Repository aws-amplify/amplify-js, pull requests merged in 2019-09, with the labels that each got.

#3919 Add support for styling greeting message (React Native)
  packages/aws-amplify-react-native/src/Auth/Greetings.js
Labels: React Native

#3967 update to version 518 for aws-sdk
  packages/core/package-lock.json
  packages/core/package.json
Labels: Core

#3945 Tooltip component and tests
  packages/amplify-ui-components/screenshot/images/29be69b20dacedb6fda43d4a5c308a8c.png
  packages/amplify-ui-components/src/common/helpers.ts
  packages/amplify-ui-components/src/common/testing.ts
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-button/amplify-button.tsx
  packages/amplify-ui-components/src/components/amplify-form-field/amplify-form-field.stories.tsx
  packages/amplify-ui-components/src/components/amplify-hint/amplify-hint.tsx
  packages/amplify-ui-components/src/components/amplify-hint/readme.md
  packages/amplify-ui-components/src/components/amplify-tooltip/__snapshots__/amplify-tooltip.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-tooltip/amplify-tooltip.e2e.ts
  packages/amplify-ui-components/src/components/amplify-tooltip/amplify-tooltip.spec.ts
  packages/amplify-ui-components/src/components/amplify-tooltip/amplify-tooltip.stories.tsx
  packages/amplify-ui-components/src/components/amplify-tooltip/amplify-tooltip.style.ts
  packages/amplify-ui-components/src/components/amplify-tooltip/amplify-tooltip.tsx
  packages/amplify-ui-components/src/components/amplify-tooltip/readme.md
Labels: UI

#3982 chore: adjust text in Angular for integration testing
  packages/aws-amplify-angular/src/components/authenticator/sign-in-component/sign-in.component.core.ts
  packages/aws-amplify-angular/src/components/authenticator/username-field-component/username-field.component.core.ts
Labels: Angular

#3987 chore: (add angular integration testing)
  .circleci/config.yml
Labels: Tests

#3976 Disabled autocomplete when resetting password for new password field
  packages/aws-amplify-react/src/Auth/ForgotPassword.jsx
Labels: Review

#4074 chore: Add missing screenshot
  packages/amplify-ui-components/screenshot/images/34d82a07eb2754e028b49687690b60c6.png
Labels: UI

#3999 Add country dial code component with select comp base
  packages/amplify-ui-components/screenshot/images/9b6eb023b786f7cd5b3b0afac6e04523.png
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-country-dial-code/__snapshots__/amplify-country-dial-code.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-country-dial-code/amplify-country-dial-code-interface.ts
  packages/amplify-ui-components/src/components/amplify-country-dial-code/amplify-country-dial-code.e2e.ts
  packages/amplify-ui-components/src/components/amplify-country-dial-code/amplify-country-dial-code.spec.ts
  packages/amplify-ui-components/src/components/amplify-country-dial-code/amplify-country-dial-code.stories.tsx
  packages/amplify-ui-components/src/components/amplify-country-dial-code/amplify-country-dial-code.tsx
  packages/amplify-ui-components/src/components/amplify-country-dial-code/readme.md
  packages/amplify-ui-components/src/components/amplify-select/readme.md
Labels: UI

#4093 Add Prettier pre-commit husky hook
  package.json
Labels: AWS-SDK-V3-Migration, Modularization
