Repository aws-amplify/amplify-js, pull requests merged in 2019-12, with the labels that each got.

#4492 chore: Update release command, update stable 1.0 command
  package.json
Labels: Build, needs-review

#4404 Remove require statements
  packages/auth/__tests__/auth-unit-test.ts
  packages/auth/src/OAuth/OAuth.ts
  packages/aws-amplify-vue/package.json
  packages/core/package.json
  packages/core/src/Platform/index.ts
  packages/core/src/Platform/version.ts
Labels: Modularization

#4474 Retrieve Identity Id from Cognito
  packages/core/src/Credentials.ts
Labels: Modularization

#4507 Handle Pinpoint error without "message"
  packages/analytics/__tests__/Providers/AWSPinpointProvider-unit-test.ts
  packages/analytics/src/Providers/AWSPinpointProvider.ts
Labels: Analytics, bug, needs-review

#4493 Fix customState parsing to include all text past the first hyphen
  packages/auth/src/Auth.ts
Labels: Auth, OAuth, needs-review

#4494 Fix #4342: move @types/zen-observable to devDependencies
  packages/api/package.json
  packages/pubsub/package.json
Labels: awaiting-lib-publish, bug

#4513 Auto-label PRs based on files changed
  .github/labeler.yml
  .github/workflows/label.yml
Labels: Tooling

#4455 chore(@aws-amplify/ui-components): federated prop defaults to u…
  packages/amplify-ui-components/src/components/amplify-federated-buttons/amplify-federated-buttons.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/__snapshots__/amplify-sign-in.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.stories.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.tsx
  packages/core/src/JS.ts
Labels: UI

#4546 fix(@aws-amplify/auth): Adjust Cognito error message checking for dis…
  packages/auth/__tests__/auth-unit-test.ts
  packages/auth/src/Auth.ts
Labels: Auth

#4547 Fix stencil config
  packages/amplify-ui-components/stencil.config.ts
  yarn.lock
Labels: UI

#4511 fix(@aws-amplify/core): add zen-observable dependency
  packages/core/package.json
Labels: bug, needs-review

#4559 feat(@aws-amplify/ui-components): amplify-auth0-button
  packages/amplify-ui-components/src/common/types/auth-types.ts
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-auth0-button/amplify-auth0-button.spec.tsx
  packages/amplify-ui-components/src/components/amplify-auth0-button/amplify-auth0-button.stories.tsx
  packages/amplify-ui-components/src/components/amplify-auth0-button/amplify-auth0-button.tsx
  packages/amplify-ui-components/src/components/amplify-auth0-button/readme.md
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.stories.tsx
  packages/amplify-ui-components/src/components/amplify-federated-buttons/amplify-federated-buttons.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.stories.tsx
Labels: UI

#4564 feat: append amplify user agent to all V3 SDK calls
  packages/analytics/src/Providers/AWSKinesisProvider.ts
  packages/analytics/src/Providers/AWSPinpointProvider.ts
  packages/analytics/src/Providers/AmazonPersonalizeProvider.ts
  packages/core/src/Credentials.ts
  packages/core/src/Platform/index.ts
  packages/interactions/src/Providers/AWSLexProvider.ts
  packages/predictions/src/Providers/AmazonAIConvertPredictionsProvider.ts
  packages/predictions/src/Providers/AmazonAIIdentifyPredictionsProvider.ts
  packages/predictions/src/Providers/AmazonAIInterpretPredictionsProvider.ts
  packages/storage/src/providers/AWSS3Provider.ts
Labels: Core

#4548 feat: (@aws-amplify/ui-components) TOTP / Select MFA Type Components
  packages/amplify-ui-components/package.json
  packages/amplify-ui-components/src/common/constants.ts
  packages/amplify-ui-components/src/common/types/auth-types.ts
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-auth0-button/readme.md
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
  packages/amplify-ui-components/src/components/amplify-authenticator/readme.md
  packages/amplify-ui-components/src/components/amplify-button/__snapshots__/amplify-button.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-button/amplify-button.style.ts
  packages/amplify-ui-components/src/components/amplify-examples/amplify-examples.tsx
  packages/amplify-ui-components/src/components/amplify-examples/auth-totp-example.tsx
  packages/amplify-ui-components/src/components/amplify-examples/readme.md
  packages/amplify-ui-components/src/components/amplify-federated-buttons/readme.md
  packages/amplify-ui-components/src/components/amplify-form-field/readme.md
  packages/amplify-ui-components/src/components/amplify-form-section/readme.md
  packages/amplify-ui-components/src/components/amplify-radio-button/__snapshots__/amplify-radio-button.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-radio-button/amplify-radio-button.tsx
  packages/amplify-ui-components/src/components/amplify-radio-button/readme.md
  packages/amplify-ui-components/src/components/amplify-select-mfa-type/__snapshots__/amplify-select-mfa-type.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-select-mfa-type/amplify-select-mfa-type.spec.ts
  packages/amplify-ui-components/src/components/amplify-select-mfa-type/amplify-select-mfa-type.stories.tsx
  packages/amplify-ui-components/src/components/amplify-select-mfa-type/amplify-select-mfa-type.tsx
  packages/amplify-ui-components/src/components/amplify-select-mfa-type/readme.md
  packages/amplify-ui-components/src/components/amplify-totp-setup/__snapshots__/amplify-totp-setup.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-totp-setup/amplify-totp-setup-interface.ts
  packages/amplify-ui-components/src/components/amplify-totp-setup/amplify-totp-setup.spec.ts
  packages/amplify-ui-components/src/components/amplify-totp-setup/amplify-totp-setup.stories.tsx
  packages/amplify-ui-components/src/components/amplify-totp-setup/amplify-totp-setup.style.ts
  packages/amplify-ui-components/src/components/amplify-totp-setup/amplify-totp-setup.tsx
  packages/amplify-ui-components/src/components/amplify-totp-setup/readme.md
  yarn.lock
Labels: UI

#4520 Add BigInteger tests
  packages/amazon-cognito-identity-js/.babelrc
  packages/amazon-cognito-identity-js/package.json
  packages/amazon-cognito-identity-js/src/BigInteger.js
  packages/amazon-cognito-identity-js/src/BigInteger.test.js
Labels: Cognito, bug, needs-review

#4596 feat: (@aws-amplify/ui-components) Toast Component
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-icon-button/__snapshots__/amplify-icon-button.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-icon-button/readme.md
  packages/amplify-ui-components/src/components/amplify-icon/__snapshots__/amplify-icon.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-icon/icons.tsx
  packages/amplify-ui-components/src/components/amplify-icon/readme.md
  packages/amplify-ui-components/src/components/amplify-toast/__snapshots__/amplify-toast.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-toast/amplify-toast.spec.ts
  packages/amplify-ui-components/src/components/amplify-toast/amplify-toast.stories.tsx
  packages/amplify-ui-components/src/components/amplify-toast/amplify-toast.style.ts
  packages/amplify-ui-components/src/components/amplify-toast/amplify-toast.tsx
  packages/amplify-ui-components/src/components/amplify-toast/readme.md
  packages/amplify-ui-components/src/global/variables.css
Labels: UI

#4583 feat(@aws-amplify/ui-components): amplify-verify-contact
  packages/amplify-ui-components/.storybook/stencil-jsx.js
  packages/amplify-ui-components/src/common/constants.ts
  packages/amplify-ui-components/src/common/types/auth-types.ts
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-auth0-button/readme.md
  packages/amplify-ui-components/src/components/amplify-authenticator/__snapshots__/amplify-authenticator.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
  packages/amplify-ui-components/src/components/amplify-authenticator/readme.md
  packages/amplify-ui-components/src/components/amplify-examples/readme.md
  packages/amplify-ui-components/src/components/amplify-federated-buttons/readme.md
  packages/amplify-ui-components/src/components/amplify-form-field/readme.md
  packages/amplify-ui-components/src/components/amplify-form-section/readme.md
  packages/amplify-ui-components/src/components/amplify-input/readme.md
  packages/amplify-ui-components/src/components/amplify-link/readme.md
  packages/amplify-ui-components/src/components/amplify-radio-button/readme.md
  packages/amplify-ui-components/src/components/amplify-select-mfa-type/readme.md
  packages/amplify-ui-components/src/components/amplify-totp-setup/readme.md
  packages/amplify-ui-components/src/components/amplify-verify-contact/__snapshots__/amplify-verify-contact.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-verify-contact/amplify-verify-contact.spec.ts
  packages/amplify-ui-components/src/components/amplify-verify-contact/amplify-verify-contact.stories.tsx
  packages/amplify-ui-components/src/components/amplify-verify-contact/amplify-verify-contact.tsx
  packages/amplify-ui-components/src/components/amplify-verify-contact/readme.md
Labels: Auth, UI

#4236 Add RFC template
  .github/ISSUE_TEMPLATE/rfc.md
Labels: Tooling, feature-request
