Repository aws-amplify/amplify-js, pull requests merged in 2020-10, with the labels that each got.

#6955 chore:Update NOTICE file to remove copyright date
  NOTICE
Labels: needs-review

#6669 chore: (README.md) Update readme to add bugs, fr
  README.md
Labels: needs-review

#6900 add static props to CognitoUserAttribute
  packages/amazon-cognito-identity-js/index.d.ts
Labels: Auth

#7001 feat(@aws-amplify/datastore): add Selective Sync
  packages/core/src/Util/Reachability.ts
  packages/datastore/__tests__/AsyncStorage.ts
  packages/datastore/__tests__/graphql.ts
  packages/datastore/package.json
  packages/datastore/src/datastore/datastore.ts
  packages/datastore/src/storage/adapter/AsyncStorageAdapter.ts
  packages/datastore/src/storage/adapter/IndexedDBAdapter.ts
  packages/datastore/src/storage/adapter/asyncstorage.ts
  packages/datastore/src/storage/adapter/getDefaultAdapter/index.native.ts
  packages/datastore/src/storage/adapter/getDefaultAdapter/index.ts
  packages/datastore/src/storage/adapter/indexeddb.ts
  packages/datastore/src/sync/index.ts
  packages/datastore/src/sync/processors/subscription.ts
  packages/datastore/src/sync/processors/sync.ts
  packages/datastore/src/sync/utils.ts
  packages/datastore/src/types.ts
Labels: DataStore, needs-review
