Repository aws-amplify/amplify-js, pull requests merged in 2020-03, with the labels that each got.

#5032 fix(@aws-amplify/datastore): Fix query and delete types
  packages/datastore/src/datastore/datastore.ts
  packages/datastore/src/predicates/index.ts
Labels: DataStore, TypeScript

#4806 Fix(@aws-amplify/interactions) fixes #4750 to properly use the spread …
  packages/aws-amplify-react/src/Interactions/ChatBot.tsx
Labels: Interactions, needs-review, tracked

#5065 feat(@ui-components/username-attributes): Add usernameAlias support
  packages/amplify-ui-components/__tests__/__snapshots__/bundle-size.spec.js.snap
  packages/amplify-ui-components/src/common/helpers.ts
  packages/amplify-ui-components/src/common/types/auth-types.ts
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-auth-fields/amplify-auth-fields-interface.ts
  packages/amplify-ui-components/src/components/amplify-auth-fields/component-field-mapping.tsx
  packages/amplify-ui-components/src/components/amplify-auth-fields/readme.md
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
  packages/amplify-ui-components/src/components/amplify-authenticator/readme.md
  packages/amplify-ui-components/src/components/amplify-button/readme.md
  packages/amplify-ui-components/src/components/amplify-code-field/readme.md
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/readme.md
  packages/amplify-ui-components/src/components/amplify-confirm-sign-up/amplify-confirm-sign-up.spec.ts
  packages/amplify-ui-components/src/components/amplify-confirm-sign-up/amplify-confirm-sign-up.tsx
  packages/amplify-ui-components/src/components/amplify-confirm-sign-up/readme.md
  packages/amplify-ui-components/src/components/amplify-examples/authenticator-example.tsx
  packages/amplify-ui-components/src/components/amplify-examples/readme.md
  packages/amplify-ui-components/src/components/amplify-federated-buttons/readme.md
  packages/amplify-ui-components/src/components/amplify-federated-sign-in/readme.md
  packages/amplify-ui-components/src/components/amplify-forgot-password/amplify-forgot-password.spec.ts
  packages/amplify-ui-components/src/components/amplify-forgot-password/amplify-forgot-password.tsx
  packages/amplify-ui-components/src/components/amplify-forgot-password/readme.md
  packages/amplify-ui-components/src/components/amplify-form-field/readme.md
  packages/amplify-ui-components/src/components/amplify-form-section/readme.md
  packages/amplify-ui-components/src/components/amplify-icon-button/readme.md
  packages/amplify-ui-components/src/components/amplify-icon/readme.md
  packages/amplify-ui-components/src/components/amplify-input/__snapshots__/amplify-input.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-input/amplify-input.tsx
  packages/amplify-ui-components/src/components/amplify-input/readme.md
  packages/amplify-ui-components/src/components/amplify-password-field/readme.md
  packages/amplify-ui-components/src/components/amplify-phone-field/readme.md
  packages/amplify-ui-components/src/components/amplify-radio-button/__snapshots__/amplify-radio-button.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-radio-button/amplify-radio-button.tsx
  packages/amplify-ui-components/src/components/amplify-select/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-in-button/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.spec.ts
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up-interface.ts
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.spec.ts
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.tsx
  packages/amplify-ui-components/src/components/amplify-sign-up/readme.md
Labels: UI

#5084 fix(@aws-amplify/ui-components): Fix Vue production
  packages/amplify-ui-vue/package.json
Labels: Build, UI

#4931 Allow in PubSub to add async custom headers
  packages/pubsub/src/Providers/AWSAppSyncRealTimeProvider.ts
Labels: PubSub

#5089 feat(@aws-amplify/ui-components): IE 11 Support
  packages/amplify-ui-components/__tests__/__snapshots__/bundle-size.spec.js.snap
  packages/amplify-ui-components/src/components/amplify-button/amplify-button.scss
  packages/amplify-ui-components/src/components/amplify-checkbox/amplify-checkbox.scss
  packages/amplify-ui-components/src/components/amplify-form-field/amplify-form-field.scss
  packages/amplify-ui-components/src/components/amplify-form-section/__snapshots__/amplify-form-section.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-form-section/amplify-form-section.scss
  packages/amplify-ui-components/src/components/amplify-form-section/amplify-form-section.tsx
  packages/amplify-ui-components/src/components/amplify-icon-button/amplify-icon-button.scss
  packages/amplify-ui-components/src/components/amplify-label/amplify-label.scss
  packages/amplify-ui-components/src/components/amplify-radio-button/amplify-radio-button.scss
  packages/amplify-ui-components/src/components/amplify-scene-loading/amplify-scene-loading.scss
  packages/amplify-ui-components/src/components/amplify-select/amplify-select.scss
  packages/amplify-ui-components/src/components/amplify-strike/amplify-strike.scss
  packages/amplify-ui-components/src/components/amplify-toast/amplify-toast.scss
Labels: UI

#5073 fix(aws-amplify-react): Fix Federated icons when using React Bootstrap
  packages/amplify-ui/src/Button.css
Labels: React, UI, bug

#5138 fix(aws-amplify-react): BREAKING - Remove "import '@aws-amplify/ui/dist/style.css'"
  packages/aws-amplify-react/src/Amplify-UI/Amplify-UI-Components-React.tsx
Labels: React, SSR

#5172 Update to crypto-js@^3.3.0
  packages/amazon-cognito-identity-js/package.json
  packages/auth/package.json
Labels: Auth, Security

#5199 fix(@aws-amplify/datastore): Make save return a single model instead …
  packages/datastore/__tests__/DataStore.ts
  packages/datastore/__tests__/indexeddb.test.ts
  packages/datastore/src/datastore/datastore.ts
Labels: DataStore

#5189 [UI components]: Chore toast close
  packages/amplify-ui-components/__tests__/__snapshots__/bundle-size.spec.js.snap
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
Labels: UI

#5202 feat(@aws-amplify/datastore): Make DataStore available in aws-amplify…
  packages/aws-amplify/package.json
  packages/aws-amplify/src/index.ts
  packages/core/src/Amplify.ts
Labels: DataStore

#5197 Export UsernameAttributes enum
  packages/aws-amplify-react/src/Auth/index.tsx
Labels: Auth, React, TypeScript

#5207 chore(@aws-amplify/ui-components): Pin @aws-amplify/ui-components to ^0.1.0
  packages/amplify-ui-angular/package.json
  packages/amplify-ui-react/package.json
  packages/amplify-ui-vue/package.json
Labels: Amplify UI Components

#5184 UI components - Cleanup phone-field style
  packages/amplify-ui-components/__tests__/__snapshots__/bundle-size.spec.js.snap
  packages/amplify-ui-components/src/components/amplify-input/amplify-input.tsx
Labels: Amplify UI Components, UI

#5204 feat(@aws-amplify/ui-react): withAuthenticator(Component[, props])
  packages/amplify-ui-components/Readme.md
  packages/amplify-ui-react/package.json
  packages/amplify-ui-react/src/index.ts
  packages/amplify-ui-react/src/withAuthenticator.tsx
  packages/amplify-ui-storybook/README.md
  packages/amplify-ui-storybook/package.json
  packages/amplify-ui-storybook/src/stories/AmplifyAuthenticator.stories.tsx
Labels: Amplify UI Components

#5216 fix(@aws-amplify/ui-components): Default federated, since aws-exports#oauth gets merged with it
  packages/amplify-ui-components/src/components/amplify-federated-buttons/amplify-federated-buttons.tsx
Labels: Amplify UI Components, bug

#5182 Responsiveness of UI components
  packages/amplify-ui-components/__tests__/__snapshots__/bundle-size.spec.js.snap
  packages/amplify-ui-components/src/components/amplify-button/amplify-button.scss
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/amplify-confirm-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-confirm-sign-up/amplify-confirm-sign-up.tsx
  packages/amplify-ui-components/src/components/amplify-form-section/amplify-form-section.scss
  packages/amplify-ui-components/src/components/amplify-require-new-password/amplify-require-new-password.tsx
  packages/amplify-ui-components/src/components/amplify-section/amplify-section.scss
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.scss
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.scss
  packages/amplify-ui-components/src/components/amplify-verify-contact/amplify-verify-contact.tsx
  packages/amplify-ui-components/src/global/breakpoint.scss
  packages/amplify-ui-components/stencil.config.ts
Labels: Amplify UI Components, UI

#5205 chore(@aws-amplify/ui-components): federated documentation
  packages/amplify-ui-components/Readme.md
Labels: Amplify UI Components

#5244 fix(@aws-amplify/ui-components): Listen to auth channel for managing Hosted UI auth state
  packages/amplify-ui-components/src/common/constants.ts
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
Labels: Amplify UI Components
