Repository aws-amplify/amplify-js, pull requests merged in 2020-01, with the labels that each got.

#4617 fix(@aws-amplify/datastore) subscription for owner authorization
  packages/api/src/index.ts
  packages/datastore/__tests__/subscription.test.ts
  packages/datastore/package.json
  packages/datastore/src/sync/processors/subscription.ts
  packages/datastore/src/sync/utils.ts
  packages/datastore/src/types.ts
  packages/pubsub/src/Providers/AWSAppSyncRealTimeProvider.ts
Labels: DataStore

#4686 Add a preview tag command for the ui components
  .circleci/config.yml
  package.json
Labels: UI

#4701 chore: (@aws-amplify/ui-components) Add base command for ui preview
  .circleci/config.yml
  package.json
Labels: UI

#4679 Throw an error to prevent returning undefined as auth response
  packages/auth/src/OAuth/OAuth.ts
Labels: Auth, bug

#4715 chore: (@aws-amplify/ui-components) Update command
  package.json
  packages/amazon-cognito-identity-js/CHANGELOG.md
  packages/amplify-ui-components/CHANGELOG.md
  packages/amplify-ui-components/screenshot/images/34d82a07eb2754e028b49687690b60c6.png
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-auth0-button/readme.md
  packages/amplify-ui-components/src/components/amplify-authenticator/readme.md
  packages/amplify-ui-components/src/components/amplify-examples/readme.md
  packages/amplify-ui-components/src/components/amplify-federated-buttons/readme.md
  packages/amplify-ui-components/src/components/amplify-form-field/readme.md
  packages/amplify-ui-components/src/components/amplify-form-section/readme.md
  packages/amplify-ui-components/src/components/amplify-input/readme.md
  packages/amplify-ui-components/src/components/amplify-link/readme.md
  packages/amplify-ui-components/src/components/amplify-radio-button/readme.md
  packages/amplify-ui-components/src/components/amplify-select-mfa-type/readme.md
  packages/amplify-ui-components/src/components/amplify-totp-setup/readme.md
  packages/amplify-ui-components/src/components/amplify-verify-contact/readme.md
  packages/amplify-ui/CHANGELOG.md
  packages/analytics/CHANGELOG.md
  packages/api-graphql/CHANGELOG.md
  packages/api-rest/CHANGELOG.md
  packages/api/CHANGELOG.md
  packages/auth/CHANGELOG.md
  packages/aws-amplify-angular/CHANGELOG.md
  packages/aws-amplify-react-native/CHANGELOG.md
  packages/aws-amplify-react/CHANGELOG.md
  packages/aws-amplify-vue/CHANGELOG.md
  packages/aws-amplify/CHANGELOG.md
  packages/cache/CHANGELOG.md
  packages/core/CHANGELOG.md
  packages/interactions/CHANGELOG.md
  packages/predictions/CHANGELOG.md
  packages/pubsub/CHANGELOG.md
  packages/pushnotification/CHANGELOG.md
  packages/storage/CHANGELOG.md
  packages/xr/CHANGELOG.md
Labels: Build, UI

#4676 feat(@aws-amplify/ui-components): Framework Bindings for Authen…
  .gitattributes
  packages/amplify-ui-angular/.gitignore
  packages/amplify-ui-angular/package.json
  packages/amplify-ui-angular/scripts/rollup.config.js
  packages/amplify-ui-angular/scripts/rollup.config.legacy.js
  packages/amplify-ui-angular/src/amplify-module.ts
  packages/amplify-ui-angular/src/index.ts
  packages/amplify-ui-angular/tsconfig.json
  packages/amplify-ui-angular/tsconfig.legacy.json
  packages/amplify-ui-components/.gitattributes
  packages/amplify-ui-components/loader/package.json
  packages/amplify-ui-components/package.json
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
  packages/amplify-ui-components/src/components/amplify-authenticator/readme.md
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/amplify-confirm-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/readme.md
  packages/amplify-ui-components/src/components/amplify-examples/readme.md
  packages/amplify-ui-components/src/components/amplify-icon/amplify-icon.spec.ts
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.spec.ts
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/readme.md
  packages/amplify-ui-components/src/data/auth-state.tsx
  packages/amplify-ui-components/stencil.config.ts
  packages/amplify-ui-react/.gitignore
  packages/amplify-ui-react/package.json
  packages/amplify-ui-react/src/index.ts
  packages/amplify-ui-react/tsconfig.json
  packages/amplify-ui-vue/package.json
  packages/amplify-ui-vue/src/index.ts
  packages/amplify-ui-vue/tsconfig.json
  yarn.lock
Labels: Angular, React, UI, Vue

#4725 Move tslib to devDependencies
  packages/amplify-ui-angular/package.json
Labels: UI

#4724 Include @aws-amplify/ui-components/loader in package
  packages/amplify-ui-components/package.json
Labels: UI, bug

#4732 feat(@aws-amplify/ui-components): amplify-authenticator data-test attributes
  packages/amplify-ui-components/src/common/constants.ts
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-authenticator/readme.md
  packages/amplify-ui-components/src/components/amplify-button/readme.md
  packages/amplify-ui-components/src/components/amplify-examples/readme.md
  packages/amplify-ui-components/src/components/amplify-forgot-password/__snapshots__/amplify-forgot-password.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-forgot-password/amplify-forgot-password.tsx
  packages/amplify-ui-components/src/components/amplify-form-section/__snapshots__/amplify-form-section.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-form-section/amplify-form-section-interface.ts
  packages/amplify-ui-components/src/components/amplify-form-section/amplify-form-section.tsx
  packages/amplify-ui-components/src/components/amplify-form-section/readme.md
  packages/amplify-ui-components/src/components/amplify-input/__snapshots__/amplify-input.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-input/amplify-input.style.ts
  packages/amplify-ui-components/src/components/amplify-require-new-password/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-in/__snapshots__/amplify-sign-in.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.spec.ts
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-out/__snapshots__/amplify-sign-out.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-sign-out/amplify-sign-out.tsx
  packages/amplify-ui-components/src/components/amplify-sign-up/__snapshots__/amplify-sign-up.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up-form-footer.tsx
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.tsx
  packages/amplify-ui-components/src/components/amplify-sign-up/readme.md
  packages/amplify-ui-components/src/global/variables.css
Labels: UI

#4323 feat(@aws-amplify/storage): get supports Response headers
  packages/storage/__tests__/Providers/AWSS3Provider-unit-test.ts
  packages/storage/__tests__/Storage-unit-test.ts
  packages/storage/src/Providers/AWSS3Provider.ts
Labels: Storage, needs-review

#4767 fix(@aws-amplify/ui-components): Move Auth & Core to externals
  packages/amplify-ui-components/__tests__/__snapshots__/bundle-size.spec.js.snap
  packages/amplify-ui-components/__tests__/bundle-size.spec.js
  packages/amplify-ui-components/package.json
  packages/amplify-ui-components/stencil.config.ts
  yarn.lock
Labels: Build, UI

#4757 fix(@aws-amplify/ui): Add padding to caret for SignUp component
  packages/amplify-ui/src/SelectInput.css
Labels: UI, bug

#3902 NodeJS support for amazon-cognito-identity-js
  packages/amazon-cognito-identity-js/README.md
  packages/amazon-cognito-identity-js/src/CognitoUser.js
Labels: Cognito
