Repository aws-amplify/amplify-js, pull requests merged in 2020-08, with the labels that each got.

#6533 ci: restore ssh cache step
  .circleci/config.yml
Labels: needs-review

#6279 fix(@aws-amplify/auth): Default hash to `#` when null
  packages/auth/src/OAuth/OAuth.ts
Labels: OAuth, bug

#5726 Feat: Add sameSite property to CookieStorage
  packages/amazon-cognito-identity-js/README.md
  packages/amazon-cognito-identity-js/index.d.ts
  packages/amazon-cognito-identity-js/package.json
  packages/amazon-cognito-identity-js/src/CookieStorage.js
Labels: Reviewing

#5112 fix(@aws-amplify/auth): incorrect return type for Auth.resendSignUp
  packages/amazon-cognito-identity-js/index.d.ts
  packages/auth/__tests__/auth-unit-test.ts
  packages/auth/src/Auth.ts
Labels: needs-review
