Repository aws-amplify/amplify-js, pull requests merged in 2020-11, with the labels that each got.

#7200 fix(@aws-amplify/datastore): fix sel. sync delta
  packages/datastore/src/sync/index.ts
Labels: DataStore

#7211 Fix phone number input type
  packages/amplify-ui-components/src/components/amplify-phone-field/__snapshots__/amplify-phone-field.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-phone-field/amplify-phone-field.tsx
Labels: Amplify UI Components

#6899 Pass client FormData to axios
  packages/api-rest/__tests__/RestClient-unit-test.ts
  packages/api-rest/src/RestClient.ts
Labels: needs-testing
