Repository aws-amplify/amplify-js, pull requests merged in 2020-04, with the labels that each got.

#5260 Explicitly set `responseType` to `blob` rather than using `new Blob`
  packages/storage/src/providers/axios-http-handler.ts
Labels: React Native, Storage, bug

#5264 fix detox linking
  .circleci/config.yml
Labels: Tooling

#5265 chore(@aws-amplify/storage): Test responseType for iOS blob bug
  packages/storage/__tests__/providers/AWSS3Provider-unit-test.ts
  packages/storage/__tests__/providers/AWSS3ProviderManagedUpload-unit-test.ts
  packages/storage/__tests__/providers/axios-http-handler.test.ts
  packages/storage/src/providers/axios-http-handler.ts
Labels: React Native, Storage

#5324 fix(@aws-amplify/ui-react): Export CJS
  packages/amplify-ui-react/.npmignore
  packages/amplify-ui-react/build.js
  packages/amplify-ui-react/package.json
  packages/amplify-ui-react/tsconfig.json
  packages/amplify-ui-react/webpack.config.dev.js
  packages/amplify-ui-react/webpack.config.js
  scripts/build.js
Labels: bug

#5388 [Feat] UI Components - Customize form field on authentication components
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-auth-fields/amplify-auth-fields.tsx
  packages/amplify-ui-components/src/components/amplify-auth-fields/readme.md
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/amplify-confirm-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/readme.md
  packages/amplify-ui-components/src/components/amplify-confirm-sign-up/amplify-confirm-sign-up.tsx
  packages/amplify-ui-components/src/components/amplify-confirm-sign-up/readme.md
  packages/amplify-ui-components/src/components/amplify-forgot-password/amplify-forgot-password-interface.ts
  packages/amplify-ui-components/src/components/amplify-forgot-password/amplify-forgot-password.tsx
  packages/amplify-ui-components/src/components/amplify-forgot-password/readme.md
  packages/amplify-ui-components/src/components/amplify-input/amplify-input.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in-interface.ts
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up-interface.ts
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.tsx
  packages/amplify-ui-components/src/components/amplify-sign-up/readme.md
Labels: Amplify UI Components

#5421 fix(aws-amplify): add DataStore export
  packages/aws-amplify/__tests__/exports-test.ts
  packages/aws-amplify/package.json
  packages/aws-amplify/src/index.ts
Labels: DataStore, version-3

#5481 chore: (Update bug templates)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Core

#5585 fix(@aws-amplify/ui-components): Fix component flickering
  packages/amplify-ui-components/stencil.config.ts
Labels: Amplify UI Components

#5514 ci: add verdaccio to pipeline
  .circleci/config.yml
  packages/aws-amplify-react/__tests__/__snapshots__/AmplifyUI-test.tsx.snap
Labels: Tooling

#5628 ci: update CircleCI cypress image to 12.16
  .circleci/config.yml
Labels: Tooling

#5587 fix(aws-amplify-react-native): Update Hub listener for sign out events
  packages/aws-amplify-react-native/src/Auth/Authenticator.js
Labels: React Native

#5603 feat(@aws-amplify/ui-components): Open up slot for sign-in/up footer
  packages/amplify-ui-components/src/components/amplify-sign-in/__snapshots__/amplify-sign-in.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-up/__snapshots__/amplify-sign-up.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.tsx
  packages/amplify-ui-components/src/components/amplify-sign-up/readme.md
Labels: Amplify UI Components
