Repository aws-amplify/amplify-js, pull requests merged in 2020-05, with the labels that each got.

#5586 fix(@aws-amplify/ui-components): keypress on form
  packages/amplify-ui-components/src/common/types/ui-types.ts
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-form-section/__snapshots__/amplify-form-section.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-form-section/amplify-form-section.spec.ts
  packages/amplify-ui-components/src/components/amplify-form-section/amplify-form-section.tsx
  packages/amplify-ui-components/src/components/amplify-input/amplify-input.spec.ts
  packages/amplify-ui-components/src/components/amplify-input/amplify-input.tsx
  packages/amplify-ui-components/src/components/amplify-input/readme.md
Labels: Amplify UI Components, needs-review

#5520 feat(@aws-amplify/storage): AWSS3Provider.ts supports ACL
  packages/storage/__tests__/providers/AWSS3Provider-unit-test.ts
  packages/storage/src/providers/AWSS3Provider.ts
Labels: awaiting-lib-publish

#5678 fix(@aws-amplify/ui-components): Check for 'amplify-redirected-from-hosted-ui' instead of 'amplify-signin-with-hostedUI'
  packages/amplify-ui-components/src/common/constants.ts
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
Labels: Amplify UI Components, bug

#5668 fix(@aws-amplify/api-graphql) Respect additionalHeaders in GraphQLAPI subscription requests
  packages/api-graphql/__tests__/GraphQLAPI-test.ts
  packages/api-graphql/src/GraphQLAPI.ts
  packages/pubsub/src/Providers/AWSAppSyncRealTimeProvider.ts
Labels: needs-review

#5469 fix(aws-amplify-react-native): fix button disabled logic
  packages/aws-amplify-react-native/src/AmplifyTheme.js
  packages/aws-amplify-react-native/src/AmplifyUI.js
  packages/aws-amplify-react-native/src/Auth/SignIn.js
  packages/aws-amplify-react-native/src/Auth/SignUp.js
Labels: React Native

#5620 fix(aws-amplify-react-native): android text display with keyboard
  packages/aws-amplify-react-native/src/AmplifyTheme.js
  packages/aws-amplify-react-native/src/AmplifyUI.js
  packages/aws-amplify-react-native/src/Auth/ConfirmSignIn.js
  packages/aws-amplify-react-native/src/Auth/ConfirmSignUp.js
  packages/aws-amplify-react-native/src/Auth/ForgotPassword.js
  packages/aws-amplify-react-native/src/Auth/Greetings.js
  packages/aws-amplify-react-native/src/Auth/RequireNewPassword.js
  packages/aws-amplify-react-native/src/Auth/SignIn.js
  packages/aws-amplify-react-native/src/Auth/SignUp.js
  packages/aws-amplify-react-native/src/Auth/VerifyContact.js
Labels: React Native, awaiting-lib-publish

#4185 fix(aws-amplify-angular): pass signout options object in auth decorator
  packages/aws-amplify-angular/src/providers/auth.decorator.ts
Labels: needs-review

#5753 Add feature to cancel axios requests used by API rest and graphql category
  packages/api-graphql/__tests__/GraphQLAPI-test.ts
  packages/api-graphql/src/GraphQLAPI.ts
  packages/api-rest/__tests__/RestAPI-test.ts
  packages/api-rest/__tests__/RestClient-unit-test.ts
  packages/api-rest/src/RestAPI.ts
  packages/api-rest/src/RestClient.ts
  packages/api/src/API.ts
Labels: needs-review

#5778 feat(@aws-amplify/datastore): enable keyName relations
  packages/datastore/src/storage/adapter/asyncstorage.ts
  packages/datastore/src/storage/adapter/indexeddb.ts
  packages/datastore/src/types.ts
  packages/datastore/src/util.ts
Labels: DataStore

#5747 fix(amazon-cognito-identity-js): Not refresh token immediately after sign in
  packages/amazon-cognito-identity-js/src/Client.js
  packages/amazon-cognito-identity-js/src/CognitoUser.js
Labels: needs-review

#5626 convert RN to TypeScript
  package.json
  packages/aws-amplify-react-native/.babelrc
  packages/aws-amplify-react-native/package.json
  packages/aws-amplify-react-native/src/API/GraphQL/Connect.tsx
  packages/aws-amplify-react-native/src/API/GraphQL/index.ts
  packages/aws-amplify-react-native/src/API/index.ts
  packages/aws-amplify-react-native/src/AmplifyI18n.ts
  packages/aws-amplify-react-native/src/AmplifyMessageMap.ts
  packages/aws-amplify-react-native/src/AmplifyTheme.ts
  packages/aws-amplify-react-native/src/AmplifyUI.tsx
  packages/aws-amplify-react-native/src/Auth/AuthPiece.tsx
  packages/aws-amplify-react-native/src/Auth/Authenticator.tsx
  packages/aws-amplify-react-native/src/Auth/ConfirmSignIn.tsx
  packages/aws-amplify-react-native/src/Auth/ConfirmSignUp.tsx
  packages/aws-amplify-react-native/src/Auth/ForgotPassword.tsx
  packages/aws-amplify-react-native/src/Auth/Greetings.tsx
  packages/aws-amplify-react-native/src/Auth/Loading.tsx
  packages/aws-amplify-react-native/src/Auth/RequireNewPassword.tsx
  packages/aws-amplify-react-native/src/Auth/SignIn.tsx
  packages/aws-amplify-react-native/src/Auth/SignUp.tsx
  packages/aws-amplify-react-native/src/Auth/VerifyContact.tsx
  packages/aws-amplify-react-native/src/Auth/common/default-sign-up-fields.ts
  packages/aws-amplify-react-native/src/Auth/index.tsx
  packages/aws-amplify-react-native/src/Auth/withOAuth.tsx
  packages/aws-amplify-react-native/src/CountryDialCodes.ts
  packages/aws-amplify-react-native/src/Interactions/ChatBot.tsx
  packages/aws-amplify-react-native/src/Interactions/index.ts
  packages/aws-amplify-react-native/src/Storage/S3Album.tsx
  packages/aws-amplify-react-native/src/Storage/S3Image.tsx
  packages/aws-amplify-react-native/src/Storage/index.ts
  packages/aws-amplify-react-native/src/index.ts
  packages/aws-amplify-react-native/tsconfig.json
  packages/aws-amplify-react-native/types.d.ts
Labels: React Native, needs-review

#5390 fix(datastore): Fix subscription creation with model subscription level is public
  packages/datastore/__tests__/subscription.test.ts
  packages/datastore/src/sync/processors/subscription.ts
  packages/datastore/src/sync/utils.ts
  packages/datastore/src/types.ts
Labels: DataStore

#5835 Adding support for opened notifications in iOS
  packages/pushnotification/src/PushNotification.ts
Labels: Push Notifications, needs-review

#5854 Upgrade aws-sdk to gamma version
  packages/analytics/package.json
  packages/core/package.json
  packages/interactions/package.json
  packages/predictions/package.json
  packages/storage/__tests__/providers/axios-http-handler.test.ts
  packages/storage/package.json
  packages/storage/src/providers/AWSS3Provider.ts
  packages/storage/src/providers/AWSS3ProviderManagedUpload.ts
  packages/storage/src/providers/axios-http-handler.ts
  packages/storage/src/providers/httpHandlerOptions.native.ts
  packages/storage/src/providers/httpHandlerOptions.ts
Labels: Core, needs-review

#5867 Handle launching an app from killed state through notifications in iOS
  packages/pushnotification/src/PushNotification.ts
Labels: needs-review

#5929 Race condition fixes for OAuth flow
  packages/auth/__tests__/hosted-ui.test.ts
  packages/auth/src/Auth.ts
Labels: needs-review

#5942 feat(@aws-amplify/datastore): Sync Status Notification. Performance Improvements.
  packages/core/__tests__/Hub-test.ts
  packages/core/src/Hub.ts
  packages/datastore/__tests__/AsyncStorage.migration.data.json
  packages/datastore/__tests__/AsyncStorage.ts
  packages/datastore/__tests__/DataStore.ts
  packages/datastore/__tests__/__snapshots__/AsyncStorage.ts.snap
  packages/datastore/__tests__/__snapshots__/indexeddb.test.ts.snap
  packages/datastore/__tests__/indexeddb.test.ts
  packages/datastore/__tests__/v1schema.data.json
  packages/datastore/package.json
  packages/datastore/src/datastore/datastore.ts
  packages/datastore/src/predicates/index.ts
  packages/datastore/src/storage/adapter/AsyncStorageDatabase.ts
  packages/datastore/src/storage/adapter/asyncstorage.ts
  packages/datastore/src/storage/adapter/index.ts
  packages/datastore/src/storage/adapter/indexeddb.ts
  packages/datastore/src/storage/storage.ts
  packages/datastore/src/sync/index.ts
  packages/datastore/src/sync/merger.ts
  packages/datastore/src/sync/outbox.ts
  packages/datastore/src/sync/processors/mutation.ts
  packages/datastore/src/sync/processors/sync.ts
  packages/datastore/src/types.ts
  packages/datastore/src/util.ts
Labels: DataStore, needs-review
