Repository aws-amplify/amplify-js, pull requests merged in 2020-02, with the labels that each got.

#4786 fix(cache): export correct module for RN
  packages/analytics/index-rn.js
  packages/api/index-rn.js
  packages/auth/index-rn.js
  packages/aws-amplify/index-rn.js
  packages/cache/index-rn.js
  packages/cache/package.json
  packages/core/index-rn.js
  packages/interactions/index-rn.js
  packages/predictions/index-rn.js
  packages/pubsub/index-rn.js
  packages/storage/index-rn.js
  packages/xr/index-rn.js
Labels: Analytics, Caching, React Native, needs-review

#4845 update PinpointProvider retry logic
  packages/analytics/__tests__/Providers/AWSPinpointProvider-unit-test.ts
  packages/analytics/src/Providers/AWSPinpointProvider.ts
Labels: Analytics

#4858 feat(@aws-amplify/ui-components): amplify-toast component
  packages/amplify-ui-components/__tests__/__snapshots__/bundle-size.spec.js.snap
  packages/amplify-ui-components/package.json
  packages/amplify-ui-components/src/common/constants.ts
  packages/amplify-ui-components/src/common/helpers.ts
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
  packages/amplify-ui-components/src/components/amplify-authenticator/readme.md
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/amplify-confirm-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-confirm-sign-up/amplify-confirm-sign-up.tsx
  packages/amplify-ui-components/src/components/amplify-examples/amplify-examples.tsx
  packages/amplify-ui-components/src/components/amplify-examples/readme.md
  packages/amplify-ui-components/src/components/amplify-forgot-password/amplify-forgot-password.tsx
  packages/amplify-ui-components/src/components/amplify-require-new-password/amplify-require-new-password.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-sign-out/amplify-sign-out.tsx
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.tsx
  packages/amplify-ui-components/src/components/amplify-toast/__snapshots__/amplify-toast.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-toast/amplify-toast.style.ts
  packages/amplify-ui-components/src/components/amplify-toast/amplify-toast.tsx
  packages/amplify-ui-components/src/components/amplify-toast/readme.md
  packages/amplify-ui-components/src/components/amplify-totp-setup/amplify-totp-setup.tsx
Labels: UI

#4904 Remove AuthClass from requiredModules
  packages/aws-amplify-vue/src/plugins/AmplifyPlugin.js
Labels: Vue

#4558 feat(@aws-amplify/storage): S3 upload progress reporting and multipart upload
  .github/ISSUE_TEMPLATE/rfc.md
  packages/aws-amplify-vue/package.json
  packages/storage/__tests__/Providers/AWSS3Provider-unit-test.ts
  packages/storage/__tests__/Providers/AWSS3ProviderManagedUpload-unit-test.ts
  packages/storage/package.json
  packages/storage/src/providers/AWSS3Provider.ts
  packages/storage/src/providers/AWSS3ProviderManagedUpload.ts
  packages/storage/src/providers/axios-http-handler.ts
Labels: AWS-SDK-V3-Migration, Modularization

#4945 fix(@aws-amplify/ui-components): federated button styling
  packages/amplify-ui-components/src/components/amplify-sign-in-button/amplify-sign-in-button.tsx
  packages/amplify-ui-components/src/components/amplify-strike/__snapshots__/amplify-strike.spec.ts.snap
  packages/amplify-ui-components/src/components/amplify-strike/amplify-strike.tsx
Labels: UI

#4979 feat(@aws-amplify/ui-components): I18n Support
  packages/amplify-ui-components/__tests__/__snapshots__/bundle-size.spec.js.snap
  packages/amplify-ui-components/src/common/Translations.ts
  packages/amplify-ui-components/src/common/constants.ts
  packages/amplify-ui-components/src/components/amplify-amazon-button/__snapshots__/amplify-amazon-button.spec.tsx.snap
  packages/amplify-ui-components/src/components/amplify-amazon-button/amplify-amazon-button.tsx
  packages/amplify-ui-components/src/components/amplify-auth0-button/__snapshots__/amplify-auth0-button.spec.tsx.snap
  packages/amplify-ui-components/src/components/amplify-auth0-button/amplify-auth0-button.tsx
  packages/amplify-ui-components/src/components/amplify-code-field/amplify-code-field.tsx
  packages/amplify-ui-components/src/components/amplify-code-field/readme.md
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/amplify-confirm-sign-in.spec.ts
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/amplify-confirm-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/readme.md
  packages/amplify-ui-components/src/components/amplify-confirm-sign-up/amplify-confirm-sign-up.spec.ts
  packages/amplify-ui-components/src/components/amplify-confirm-sign-up/amplify-confirm-sign-up.tsx
  packages/amplify-ui-components/src/components/amplify-confirm-sign-up/readme.md
  packages/amplify-ui-components/src/components/amplify-email-field/amplify-email-field.tsx
  packages/amplify-ui-components/src/components/amplify-email-field/readme.md
  packages/amplify-ui-components/src/components/amplify-facebook-button/__snapshots__/amplify-facebook-button.spec.tsx.snap
  packages/amplify-ui-components/src/components/amplify-facebook-button/amplify-facebook-button.tsx
  packages/amplify-ui-components/src/components/amplify-forgot-password/amplify-forgot-password.spec.ts
  packages/amplify-ui-components/src/components/amplify-forgot-password/amplify-forgot-password.tsx
  packages/amplify-ui-components/src/components/amplify-forgot-password/readme.md
  packages/amplify-ui-components/src/components/amplify-google-button/__snapshots__/amplify-google-button.spec.tsx.snap
  packages/amplify-ui-components/src/components/amplify-google-button/amplify-google-button.tsx
  packages/amplify-ui-components/src/components/amplify-oauth-button/amplify-oauth-button.tsx
  packages/amplify-ui-components/src/components/amplify-password-field/amplify-password-field.tsx
  packages/amplify-ui-components/src/components/amplify-password-field/readme.md
  packages/amplify-ui-components/src/components/amplify-phone-field/amplify-phone-field.spec.ts
  packages/amplify-ui-components/src/components/amplify-phone-field/amplify-phone-field.tsx
  packages/amplify-ui-components/src/components/amplify-phone-field/readme.md
  packages/amplify-ui-components/src/components/amplify-require-new-password/amplify-require-new-password.spec.ts
  packages/amplify-ui-components/src/components/amplify-require-new-password/amplify-require-new-password.tsx
  packages/amplify-ui-components/src/components/amplify-require-new-password/readme.md
  packages/amplify-ui-components/src/components/amplify-select-mfa-type/amplify-select-mfa-type.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/amplify-sign-in.tsx
  packages/amplify-ui-components/src/components/amplify-sign-in/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-out/amplify-sign-out.spec.ts
  packages/amplify-ui-components/src/components/amplify-sign-out/amplify-sign-out.tsx
  packages/amplify-ui-components/src/components/amplify-sign-out/readme.md
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.spec.ts
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.tsx
  packages/amplify-ui-components/src/components/amplify-sign-up/readme.md
  packages/amplify-ui-components/src/components/amplify-totp-setup/amplify-totp-setup.tsx
  packages/amplify-ui-components/src/components/amplify-username-field/amplify-username-field.tsx
  packages/amplify-ui-components/src/components/amplify-username-field/readme.md
  packages/amplify-ui-components/src/components/amplify-verify-contact/amplify-verify-contact.tsx
  packages/amplify-ui-components/src/index.ts
  packages/core/src/I18n/I18n.ts
Labels: Amplify UI Components
