Repository aws-amplify/amplify-js, pull requests merged in 2020-09, with the labels that each got.

#6719 Remove isomorphic-ws & ws from SSR DataStore usage
  packages/datastore/package.json
  packages/pubsub/src/Providers/AWSAppSyncRealTimeProvider.ts
Labels: bug

#6726 feat(@aws-amplify/datastore): Add SSR support for DataStore
  packages/aws-amplify/src/withSSRContext.ts
  packages/datastore/src/sync/index.ts
  packages/pubsub/__mocks__/@aws-amplify/core.ts
  packages/pubsub/__tests__/PubSub-unit-test.node.ts
  packages/pubsub/src/PubSub.ts
Labels: SSR, needs-review

#6124 Resolves code conflicts for PR #4930
  packages/auth/src/Auth.ts
  packages/auth/src/types/Auth.ts
Labels: needs-discussion

#6458 fix(@aws-amplify/datastore): Allow subscribing and querying with partial auth
  packages/datastore/src/sync/processors/subscription.ts
  packages/datastore/src/sync/processors/sync.ts
Labels: DataStore

#6809 fix(@aws-amplify/auth): Fix binding for Auth.currentCredentials
  packages/auth/__tests__/auth-unit-test.ts
  packages/auth/src/Auth.ts
Labels: Auth, bug

#6811 fix(@aws-amplify/auth): No Auth module registered in Amplify
  packages/core/__tests__/Credentials-test.ts
  packages/core/src/Credentials.ts
Labels: Auth, bug

#6851 bugfix #5218: de/encode custom state using base16
  packages/auth/src/Auth.ts
  packages/auth/src/OAuth/OAuth.ts
  packages/core/__tests__/StringUtils-test.ts
  packages/core/src/Util/StringUtils.ts
  packages/core/src/Util/index.ts
Labels: needs-review
