Repository aws-amplify/amplify-js, pull requests merged in 2020-06, with the labels that each got.

#5930 Authenticator state change prop
  packages/amplify-ui-components/src/common/helpers.ts
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
  packages/amplify-ui-components/src/components/amplify-authenticator/readme.md
Labels: Amplify UI Components

#5984 Fix performance undefined variable in RN
  packages/datastore/src/util.ts
Labels: DataStore, React Native

#6024 chore(contributing): update table of contents
  CONTRIBUTING.md
Labels: needs-review

#5937 fix(@aws-amplify/auth): Call replaceState before dispatchAuthEvent
  packages/auth/__tests__/auth-unit-test.ts
  packages/auth/src/Auth.ts
Labels: Auth

#6051 Add storage integ test to pipeline
  .circleci/config.yml
Labels: needs-review
