Repository aws-amplify/amplify-js, pull requests merged in 2021-05, with the labels that each got.

#8191 fix(@aws-amplify/datastore): fix hasOne delete
  packages/datastore/__tests__/AsyncStorageAdapter.test.ts
  packages/datastore/__tests__/IndexedDBAdapter.test.ts
  packages/datastore/__tests__/helpers.ts
  packages/datastore/src/storage/adapter/AsyncStorageAdapter.ts
  packages/datastore/src/storage/adapter/IndexedDBAdapter.ts
  packages/datastore/src/types.ts
Labels: DataStore

#8196 fix(@aws-amplify/datastore): correctly processing Delta Sync query response in RN
  packages/datastore/__tests__/Merger.test.ts
  packages/datastore/src/sync/merger.ts
Labels: DataStore

#8217 Add configuration for duplicate-packages integ tests
  .circleci/config.yml
Labels: config

#8243 feat(@aws-amplify/ui-react): wrap withAuthenticator with `AmplifyAuthContainer`
  packages/amplify-ui-react/__tests__/withAuthenticator-test.tsx
  packages/amplify-ui-react/src/withAuthenticator.tsx
Labels: UI

#8260 Checking null value using string predicates
  packages/datastore/__tests__/util.test.ts
  packages/datastore/src/util.ts
Labels: DataStore

#8253 fix(@aws-amplify/datastore): updates with composite keys
  packages/datastore/__tests__/helpers.ts
  packages/datastore/__tests__/storage.test.ts
  packages/datastore/src/storage/storage.ts
  packages/datastore/src/types.ts
  packages/datastore/src/util.ts
Labels: DataStore

#8298 fix(@aws-amplify/ui-vue): exclude external types in tsconfig
  packages/amplify-ui-vue/tsconfig.json
Labels: Build

#8095 fix(predictions-identify): update detectFacesCommand parameters to include all facial attributes (including Emotions types) in the result
  packages/predictions/src/Providers/AmazonAIIdentifyPredictionsProvider.ts
Labels: Predictions, needs-review

#8248 fix: added expiration to ICredentials type
  packages/core/src/types/types.ts
Labels: Auth, needs-review

#7751 feat(Storage): content encoding optional on put
  packages/storage/__tests__/providers/AWSS3Provider-unit-test.ts
  packages/storage/src/providers/AWSS3Provider.ts
Labels: Storage, needs-testing

#8266 test(amazon-cognito-identity-js): coverage for client endpoint option
  packages/amazon-cognito-identity-js/__tests__/Client.test.js
Labels: Auth, amazon-cognito-identity-js

#8336 Fix React Native Storage.put out of memory error & UI freezes
  packages/storage/__tests__/providers/AWSS3ProviderManagedUpload-unit-test.ts
  packages/storage/__tests__/providers/axios-http-handler.test.ts
  packages/storage/src/providers/AWSS3ProviderManagedUpload.ts
  packages/storage/src/providers/axios-http-handler.ts
Labels: needs-review

#8344 fix(@aws-amplify/datastore): correct reachability unsubscribe behavior
  packages/datastore/src/sync/datastoreConnectivity.ts
Labels: DataStore

#8296 feat(@aws-amplify/datastore): include custom pk in update/delete mutations
  packages/datastore/__tests__/helpers.ts
  packages/datastore/__tests__/mutation.test.ts
  packages/datastore/__tests__/storage.test.ts
  packages/datastore/__tests__/util.test.ts
  packages/datastore/src/datastore/datastore.ts
  packages/datastore/src/storage/storage.ts
  packages/datastore/src/sync/processors/mutation.ts
  packages/datastore/src/types.ts
  packages/datastore/src/util.ts
Labels: DataStore
