Repository aws-amplify/amplify-js, pull requests merged in 2021-09, with the labels that each got.

#7256 Added removePluggable function to PubSub
  packages/pubsub/__tests__/PubSub-unit-test.ts
  packages/pubsub/src/PubSub.ts
Labels: first-time-contributor

#8898 chore(geo): add changelog with latest changes
  packages/geo/CHANGELOG.md
Labels: Geo

#8910 [Chore] Remove husky from ui-components
  packages/amplify-ui-components/package.json
Labels: Tooling

#8916 fix(@aws-amplify/core): error throwing and tests
  packages/core/__tests__/Providers/AWSCloudWatchProvider-test.ts
  packages/core/src/Providers/AWSCloudWatchProvider.ts
Labels: first-time-contributor

#8923 (cognito) callback error with error objects
  packages/amazon-cognito-identity-js/src/Client.js
Labels: amazon-cognito-identity-js, first-time-contributor

#8952 chore(@aws-amplify/geo): add geo tests to Integ Test Suite
  .circleci/config.yml
Labels: Geo
