Repository aws-amplify/amplify-js, pull requests merged in 2021-08, with the labels that each got.

#7374 fix(@aws-amplify/core): Include refreshToken in UniversalStorage for SSR
  packages/core/src/UniversalStorage/index.ts
Labels: SSR

#8380 Fix Storage.put SSE-c bug
  packages/storage/__tests__/providers/AWSS3ProviderManagedUpload-unit-test.ts
  packages/storage/src/providers/AWSS3Provider.ts
  packages/storage/src/providers/AWSS3ProviderManagedUpload.ts
Labels: Storage, needs-review

#8653 Add amplify user agent to location service client
  packages/geo/src/Providers/AmazonLocationServicesProvider.ts
Labels: Geo

#8725 feat(Geo): add region to MapStyle and update types
  packages/geo/__tests__/Geo.test.ts
  packages/geo/__tests__/Providers/AmazonLocationServicesProvider.test.ts
  packages/geo/src/Providers/AmazonLocationServicesProvider.ts
  packages/geo/src/types/AmazonLocationServiceProvider.ts
  packages/geo/src/types/Geo.ts
  packages/geo/src/types/index.ts
Labels: Geo

#8730 fix(@aws-amplify/ui-components): Remove local storage check
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
Labels: UI

#8736 feat(geo): add region to Amazon Location Service MapStyle
  packages/geo/__tests__/Geo.test.ts
  packages/geo/__tests__/Providers/AmazonLocationServicesProvider.test.ts
  packages/geo/src/Providers/AmazonLocationServicesProvider.ts
  packages/geo/src/types/AmazonLocationServicesProvider.ts
  packages/geo/src/types/index.ts
Labels: Geo

#8744 feat(@aws-amplify/auth): Add a 'SUCCESS' response on successful call to forgotPasswordSubmit
  packages/amazon-cognito-identity-js/__tests__/CognitoUser.test.js
  packages/amazon-cognito-identity-js/index.d.ts
  packages/amazon-cognito-identity-js/src/CognitoUser.js
  packages/auth/src/Auth.ts
Labels: first-time-contributor

#8750 GH-4468: Transfer Acceleration option can now be passed to Storage.put()
  packages/storage/src/providers/AWSS3ProviderManagedUpload.ts
  packages/storage/src/types/AWSS3Provider.ts
Labels: first-time-contributor

#8434 chore: change LogLevel of getCurrentUserInfo error
  packages/auth/src/Auth.ts
Labels: Auth, first-time-contributor

#8782 Updates to the README
  README.md
Labels: needs-review

#8556 chore(issue templates): update template picker for ui repo
  .github/ISSUE_TEMPLATE/5.bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
Labels: Tooling

#8721 chore(gh action): reduce cron sched to once per day
  .github/workflows/lock.yaml
Labels: Tooling
