Repository aws-amplify/amplify-js, pull requests merged in 2021-02, with the labels that each got.

#7672 Update stale
  .github/stale.yml
Labels: needs-review

#7717 fix(@aws-amplify/datastore): align AWSTime validation with AppSync
  packages/datastore/__tests__/util.test.ts
  packages/datastore/src/util.ts
Labels: DataStore

#7651 fix(@aws-amplify/ui-react): Support React 17
  packages/amplify-ui-react/package.json
Labels: Amplify UI Components

#7746 fix(@aws-amplify/datastore): improve IDB query performance
  packages/datastore/__tests__/AsyncStorageAdapter.test.ts
  packages/datastore/__tests__/DataStore.ts
  packages/datastore/__tests__/IndexedDBAdapter.test.ts
  packages/datastore/src/datastore/datastore.ts
  packages/datastore/src/storage/adapter/AsyncStorageAdapter.ts
  packages/datastore/src/storage/adapter/IndexedDBAdapter.ts
Labels: DataStore

#7656 fixes validationDataObject
  packages/auth/src/Auth.ts
Labels: needs-review

#7790 chore: consolidate .prettierrc & .prettierignore
  .prettierignore
  packages/amplify-ui-components/.prettierignore
  packages/amplify-ui-components/.prettierrc.js
  packages/aws-amplify/prettier.config.json
Labels: Tooling
