Repository aws-amplify/amplify-js, pull requests merged in 2021-06, with the labels that each got.

#8368 fix: remove RN-specific peerDeps to correctly hoist core in npm@7
  packages/amazon-cognito-identity-js/package.json
  packages/core/package.json
Labels: dependencies

#8369 fix(aws-amplify-angular): remove util import to fix ng-12 build error
  packages/aws-amplify-angular/src/components/interactions/chatbot/chatbot.component.core.ts
Labels: Angular

#8357 fix(@aws-amplify/ui-components): remove hosted ui check
  packages/amplify-ui-components/src/components/amplify-authenticator/amplify-authenticator.tsx
Labels: UI, needs-review

#8017 fix(aws-amplify-react): "preview" prop of <PhotoPicker> accept boolean value on TypeScript
  packages/aws-amplify-react/__tests__/Widget/PhotoPicker-test.tsx
  packages/aws-amplify-react/src/Widget/PhotoPicker.tsx
Labels: UI, bug

#8440 Bump aws-amplify peer deps to `4.x.x`
  packages/amplify-ui-components/package.json
Labels: needs-review

#8431 feat(storage): Adding copy API to Storage
  .circleci/config.yml
  .github/actions/bundle-size-action/webpack/package.json
  packages/storage/__tests__/Storage-unit-test.ts
  packages/storage/__tests__/providers/AWSS3Provider-unit-test.ts
  packages/storage/src/Storage.ts
  packages/storage/src/common/StorageErrorStrings.ts
  packages/storage/src/providers/AWSS3Provider.ts
  packages/storage/src/providers/AWSS3ProviderManagedUpload.ts
  packages/storage/src/types/AWSS3Provider.ts
  packages/storage/src/types/Provider.ts
  packages/storage/src/types/Storage.ts
  packages/storage/src/types/index.ts
Labels: needs-review

#4484 fix: (aws-amplify-react): Fix type definition of onSubscriptionMsg
  packages/aws-amplify-react/src/API/GraphQL/Connect.tsx
Labels: TypeScript, bug, needs-review

#7189 feat(ui-components): Handling loading in AmplifySignUp & AmplifyConfirmSignUp
  packages/amplify-ui-components/src/components/amplify-sign-up/amplify-sign-up.tsx
Labels: UI, needs-review, needs-testing

#8468 feat(@aws-amplify/ui-components): Trim inputs before submit #7408
  packages/amplify-ui-components/src/components/amplify-forgot-password/amplify-forgot-password.spec.ts
  packages/amplify-ui-components/src/components/amplify-forgot-password/amplify-forgot-password.tsx
Labels: UI

#8339 Improve unit test coverage for Storage.put and ManagedUpload class
  packages/storage/__tests__/providers/AWSS3Provider-unit-test.ts
  packages/storage/__tests__/providers/AWSS3ProviderManagedUpload-unit-test.ts
  packages/storage/__tests__/providers/axios-http-handler.test.ts
  packages/storage/src/providers/AWSS3Provider.ts
  packages/storage/src/providers/AWSS3ProviderManagedUpload.ts
  packages/storage/src/providers/axios-http-handler.ts
Labels: needs-review

#8492 fix(@aws-amplify/ui-components): including handleInputChange in amplify-confirm-sign-in fields only when not specified
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/amplify-confirm-sign-in.spec.ts
  packages/amplify-ui-components/src/components/amplify-confirm-sign-in/amplify-confirm-sign-in.tsx
Labels: UI

#7047 fix(aws-amplify-react-native): auto-fill the user name field on ConfirmSignUp page
  packages/aws-amplify-react-native/src/Auth/ConfirmSignUp.tsx
Labels: UI
