Repository aws-amplify/amplify-js, pull requests merged in 2021-11, with the labels that each got.

#6708 fix: type for completeNewPasswordChallenge
  packages/amazon-cognito-identity-js/index.d.ts
Labels: Auth, needs-review

#9115 fix(@aws-amplify/storage): Automatically adjust systemClockoffset in Storage
  packages/aws-amplify-react/__tests__/Storage/S3Image-test.tsx
  packages/aws-amplify-react/__tests__/Storage/S3Text-test.tsx
  packages/storage/__tests__/common/S3ClientUtils-unit-test.ts
  packages/storage/src/common/S3ClientUtils.ts
  packages/storage/src/providers/AWSS3Provider.ts
  packages/storage/src/providers/AWSS3ProviderManagedUpload.ts
  packages/storage/src/providers/axios-http-handler.ts
Labels: Storage, needs-review

#9122 build: upgrade ts to 3.8 to use export type syntax
  package.json
  packages/analytics/package.json
  packages/analytics/tsconfig.json
  packages/api/index.v37.d.ts
  packages/api/package.json
  packages/api/src/index.ts
  packages/api/src/types/index.ts
Labels: Build, Core

#9158 fix(aws-amplify-react-native): migrate to community picker
  README.md
  packages/aws-amplify-react-native/package.json
  packages/aws-amplify-react-native/src/AmplifyTheme.ts
  packages/aws-amplify-react-native/src/AmplifyUI.tsx
  packages/aws-amplify-react-native/src/Auth/VerifyContact.tsx
Labels: React Native

#9189 chore:update @aws-sdk/client-cloudwatch-logs version in core
  packages/core/package.json
Labels: first-time-contributor

#9171 feat(amplify-js): add CD support
  packages/pubsub/__tests__/AWSAppSyncRealTimeProvider.ts
  packages/pubsub/src/Providers/AWSAppSyncRealTimeProvider.ts
Labels: API, PubSub, GraphQL, DataStore

#9239 feat(@aws-amplify/datastore): hasOne CRUD improvements
  .prettierrc.js
  packages/datastore-storage-adapter/src/SQLiteAdapter/SQLiteAdapter.ts
  packages/datastore-storage-adapter/src/SQLiteAdapter/SQLiteUtils.ts
  packages/datastore-storage-adapter/src/SQLiteAdapter/types.ts
  packages/datastore/__tests__/AsyncStorageAdapter.test.ts
  packages/datastore/__tests__/IndexedDBAdapter.test.ts
  packages/datastore/__tests__/helpers.ts
  packages/datastore/src/storage/adapter/AsyncStorageAdapter.ts
  packages/datastore/src/storage/adapter/IndexedDBAdapter.ts
  packages/datastore/src/util.ts
Labels: needs-review

#9181 fix(@aws-amplify/core): Use undefined for default sequence token with CloudWatch logging
  packages/core/__tests__/Providers/AWSCloudWatchProvider-test.ts
  packages/core/src/Providers/AWSCloudWatchProvider.ts
Labels: first-time-contributor
