Repository aws-amplify/amplify-js, pull requests merged in 2021-07, with the labels that each got.

#8295 Adding download progress tracker for Storage.get
  packages/storage/__tests__/providers/AWSS3Provider-unit-test.ts
  packages/storage/__tests__/providers/AWSS3ProviderManagedUpload-unit-test.ts
  packages/storage/__tests__/providers/axios-http-handler.test.ts
  packages/storage/src/providers/AWSS3Provider.ts
  packages/storage/src/providers/AWSS3ProviderManagedUpload.ts
  packages/storage/src/providers/axios-http-handler.ts
Labels: needs-review, needs-testing

#8590 Storage AWSS3Provider typescript improvement
  packages/storage/__tests__/providers/AWSS3Provider-unit-test.ts
  packages/storage/src/providers/AWSS3Provider.ts
  packages/storage/src/types/AWSS3Provider.ts
  packages/storage/src/types/Storage.ts
Labels: Storage, needs-review

#8592 feat(@aws-amplify/ui-components): Let `amplify-totp-setup` work outside authenticator
  packages/amplify-ui-components/src/components.d.ts
  packages/amplify-ui-components/src/components/amplify-totp-setup/amplify-totp-setup.tsx
  packages/amplify-ui-components/src/components/amplify-totp-setup/readme.md
Labels: needs-review

#8620 feat(Geo): getAvailableMaps and getDefaultMap - Geo milestone 1 - PR 4
  packages/core/src/Parser.ts
  packages/geo/__tests__/Geo.test.ts
  packages/geo/__tests__/Providers/AmazonLocationServicesProvider.test.ts
  packages/geo/src/Geo.ts
  packages/geo/src/Providers/AmazonLocationServicesProvider.ts
  packages/geo/src/types/Geo.ts
  packages/geo/src/types/Provider.ts
Labels: Geo

#8621 feat(Geo): searchByText - Geo milestone 1 - PR 5
  packages/core/src/Parser.ts
  packages/geo/__tests__/Geo.test.ts
  packages/geo/__tests__/Providers/AmazonLocationServicesProvider.test.ts
  packages/geo/__tests__/data.ts
  packages/geo/package.json
  packages/geo/src/Geo.ts
  packages/geo/src/Providers/AmazonLocationServicesProvider.ts
  packages/geo/src/types/Geo.ts
  packages/geo/src/types/Provider.ts
Labels: Geo

#8639 chore(geo): update configs for newer scoped configurations and providers - Geo milestone 1 - PR 7
  packages/core/__tests__/parseMobileHubConfig-test.ts
  packages/core/src/Parser.ts
  packages/geo/__tests__/Geo.test.ts
  packages/geo/__tests__/Providers/AmazonLocationServicesProvider.test.ts
  packages/geo/__tests__/data.ts
  packages/geo/package.json
  packages/geo/src/Geo.ts
  packages/geo/src/Providers/AmazonLocationServicesProvider.ts
  packages/geo/src/types/Geo.ts
  packages/geo/src/types/Provider.ts
Labels: Geo

#8598 Auth.ts - Fixed typo
  packages/auth/src/Auth.ts
Labels: first-time-contributor
