Repository aws-amplify/amplify-js, pull requests merged in 2021-04, with the labels that each got.

#8021 ci: allow lerna publish with npm automation token
  package.json
Labels: Build

#8000 fix(@aws-amplify/datastore): consecutive saves
  .github/actions/bundle-size-action/webpack/package.json
  packages/datastore/__tests__/outbox.test.ts
  packages/datastore/__tests__/util.test.ts
  packages/datastore/src/datastore/datastore.ts
  packages/datastore/src/sync/index.ts
  packages/datastore/src/sync/outbox.ts
  packages/datastore/src/sync/processors/mutation.ts
  packages/datastore/src/util.ts
Labels: DataStore

#8045 fix(@aws-amplify/auth): define validationData type as object literal
  packages/auth/__tests__/auth-unit-test.ts
  packages/auth/__tests__/oauth-test.ts
  packages/auth/__tests__/totp-unit-test.ts
  packages/auth/package.json
  packages/auth/src/types/Auth.ts
Labels: Auth, TypeScript

#8134 test(amazon-cognito-identity-js): add unit test coverage to Cognito Identity JS package
  .circleci/config.yml
  packages/amazon-cognito-identity-js/.eslintrc.yaml
  packages/amazon-cognito-identity-js/__mocks__/mocks.js
  packages/amazon-cognito-identity-js/__tests__/AuthenticationDetails.test.js
  packages/amazon-cognito-identity-js/__tests__/AuthenticationHelper-test.js
  packages/amazon-cognito-identity-js/__tests__/AuthenticationHelper.test.js
  packages/amazon-cognito-identity-js/__tests__/Client.test.js
  packages/amazon-cognito-identity-js/__tests__/CognitoAccessToken.test.js
  packages/amazon-cognito-identity-js/__tests__/CognitoIdToken.test.js
  packages/amazon-cognito-identity-js/__tests__/CognitoJwtToken.test.js
  packages/amazon-cognito-identity-js/__tests__/CognitoRefreshToken.test.js
  packages/amazon-cognito-identity-js/__tests__/CognitoUser.test.js
  packages/amazon-cognito-identity-js/__tests__/CognitoUserAttribute.test.js
  packages/amazon-cognito-identity-js/__tests__/CognitoUserPool.test.js
  packages/amazon-cognito-identity-js/__tests__/CognitoUserSession.test.js
  packages/amazon-cognito-identity-js/__tests__/CookieStorage.test.js
  packages/amazon-cognito-identity-js/__tests__/DateHelper.test.js
  packages/amazon-cognito-identity-js/__tests__/StorageHelper.test.js
  packages/amazon-cognito-identity-js/__tests__/StorageHelperRN.test.js
  packages/amazon-cognito-identity-js/__tests__/UserAgent.test.js
  packages/amazon-cognito-identity-js/__tests__/constants.js
  packages/amazon-cognito-identity-js/__tests__/cryptoSecureRandomInt.test.js
  packages/amazon-cognito-identity-js/__tests__/index.test.js
  packages/amazon-cognito-identity-js/__tests__/util.js
  packages/amazon-cognito-identity-js/jest.config.js
  packages/amazon-cognito-identity-js/package.json
  packages/amazon-cognito-identity-js/src/AuthenticationHelper.js
  packages/amazon-cognito-identity-js/src/CognitoUser.js
  packages/amazon-cognito-identity-js/src/CognitoUserSession.js
  packages/amazon-cognito-identity-js/src/CookieStorage.js
  packages/amazon-cognito-identity-js/src/StorageHelper.js
Labels: amazon-cognito-identity-js
