Repository aws-amplify/amplify-js, pull requests merged in 2021-12, with the labels that each got.

#9309 feat(geo): add getGeofence api
  packages/geo/__tests__/Geo.test.ts
  packages/geo/__tests__/Providers/AmazonLocationServiceProvider.test.ts
  packages/geo/__tests__/data.ts
  packages/geo/src/Geo.ts
  packages/geo/src/Providers/AmazonLocationServiceProvider.ts
  packages/geo/src/types/Geo.ts
  packages/geo/src/types/Provider.ts
  packages/geo/src/util.ts
Labels: Geo

#9310 feat(geo): add listGeofences api
  packages/geo/__tests__/Geo.test.ts
  packages/geo/__tests__/Providers/AmazonLocationServiceProvider.test.ts
  packages/geo/__tests__/data.ts
  packages/geo/src/Geo.ts
  packages/geo/src/Providers/AmazonLocationServiceProvider.ts
  packages/geo/src/types/AmazonLocationServiceProvider.ts
  packages/geo/src/types/Geo.ts
  packages/geo/src/types/Provider.ts
Labels: Geo

#9314 feat(geo): add deleteGeofences api
  packages/geo/__tests__/Providers/AmazonLocationServiceProvider.test.ts
  packages/geo/__tests__/data.ts
  packages/geo/src/Geo.ts
  packages/geo/src/Providers/AmazonLocationServiceProvider.ts
  packages/geo/src/types/AmazonLocationServiceProvider.ts
  packages/geo/src/types/Geo.ts
  packages/geo/src/types/Provider.ts
Labels: Geo

#9341 fix(@aws-amplify/aws-amplify-react-native): fix dev build for Windows
  packages/aws-amplify-react-native/.eslintrc.js
Labels: bug, Build, React Native, needs-review, config

#9276 fix: added missing method param
  packages/amazon-cognito-identity-js/index.d.ts
Labels: first-time-contributor
