Repository aws-amplify/amplify-js, pull requests merged in 2022-03, with the labels that each got.

#9607 fix(pushnotification): deprecated build.gradle
  packages/pushnotification/android/build.gradle
Labels: Push Notifications, React Native, first-time-contributor, pending-triage

#9670 fix(geo): update validations and error messages
  packages/geo/__tests__/Geo.test.ts
  packages/geo/__tests__/Providers/AmazonLocationServiceProvider.test.ts
  packages/geo/__tests__/testData.ts
  packages/geo/__tests__/util.test.ts
  packages/geo/package.json
  packages/geo/src/Geo.ts
  packages/geo/src/Providers/AmazonLocationServiceProvider.ts
  packages/geo/src/util.ts
Labels: Geo

#9676 ci: update cypress docker image version
  .circleci/config.yml
Labels: config, Geo

#9747 revert(@aws-amplify/geo): searchForSuggestions API (#9516)
  packages/geo/__tests__/Geo.test.ts
  packages/geo/__tests__/Providers/AmazonLocationServiceProvider.test.ts
  packages/geo/src/Geo.ts
  packages/geo/src/Providers/AmazonLocationServiceProvider.ts
  packages/geo/src/types/Geo.ts
  packages/geo/src/types/Provider.ts
Labels: Geo
