Repository aws-amplify/amplify-js, pull requests merged in 2022-10, with the labels that each got.

#9793 chore(cognito-identity-js) Add CognitoUserPool.getUserPoolName
  packages/amazon-cognito-identity-js/__tests__/CognitoUser.test.js
  packages/amazon-cognito-identity-js/__tests__/CognitoUserPool.test.js
  packages/amazon-cognito-identity-js/__tests__/constants.js
  packages/amazon-cognito-identity-js/index.d.ts
  packages/amazon-cognito-identity-js/src/CognitoUser.js
  packages/amazon-cognito-identity-js/src/CognitoUserPool.js
Labels: first-time-contributor, external-contributor

#9908 [docs] Fix singIn method comment
  packages/auth/src/Auth.ts
Labels: first-time-contributor, external-contributor

#10409 Create method that verificates if an instance was created, in order t…
  packages/api-graphql/__tests__/GraphQLAPI-test.ts
  packages/api-graphql/src/GraphQLAPI.ts
Labels: first-time-contributor, api-graphql, external-contributor

#9397 chore: Remove deprecated jcenter repo
  packages/amazon-cognito-identity-js/android/build.gradle
Labels: external-contributor

#8825 fix: Update .d.ts file to match the actual code
  packages/amazon-cognito-identity-js/index.d.ts
Labels: TypeScript, first-time-contributor, external-contributor
