Repository aws-amplify/amplify-js, pull requests merged in 2022-01, with the labels that each got.

#9403 fix(@aws-amplify/core): use empty string as translation
  packages/core/src/I18n/I18n.ts
Labels: first-time-contributor

#9407 feat: [DS custom pk] sync engine and async storage adapter
  packages/datastore/__tests__/AsyncStorageAdapter.test.ts
  packages/datastore/__tests__/IndexedDBAdapter.test.ts
  packages/datastore/__tests__/Merger.test.ts
  packages/datastore/src/storage/adapter/AsyncStorageAdapter.ts
  packages/datastore/src/storage/adapter/AsyncStorageDatabase.ts
  packages/datastore/src/storage/adapter/InMemoryStore.ts
  packages/datastore/src/storage/adapter/IndexedDBAdapter.ts
  packages/datastore/src/storage/storage.ts
  packages/datastore/src/sync/index.ts
  packages/datastore/src/sync/merger.ts
  packages/datastore/src/sync/outbox.ts
  packages/datastore/src/sync/processors/mutation.ts
  packages/datastore/src/sync/processors/sync.ts
  packages/datastore/src/sync/utils.ts
  packages/datastore/src/types.ts
Labels: needs-review, DataStore, AsyncStorage

#9462 feat: DS custom pk updates for Async Storage Adapter and DB
  packages/datastore/src/storage/adapter/AsyncStorageAdapter.ts
  packages/datastore/src/storage/adapter/AsyncStorageDatabase.ts
  packages/datastore/src/sync/utils.ts
  packages/datastore/src/util.ts
Labels: needs-review

#9387 fix(amazon-cognito-identity-js): import React Native headers from <React/*.h>
  packages/amazon-cognito-identity-js/ios/RNAWSCognito.h
Labels: first-time-contributor
