Repository aws-amplify/amplify-js, pull requests merged in 2023-03, with the labels that each got.

#10983 fix(datastore): remove connections with model field as undefined
  packages/datastore/__tests__/DataStore.ts
  packages/datastore/src/datastore/datastore.ts
  packages/datastore/src/types.ts
Labels: DataStore

#10968 Call errorCallback on error in _initializeUploadTask
  packages/storage/src/providers/AWSS3UploadTask.ts
Labels: Storage, external-contributor

#10837 Add NodeJS and Yarn version recommendations in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: first-time-contributor, external-contributor

#11009 fix(@aws-amplify/datastore): strictly define null vs undefined behavior on models
  packages/datastore-storage-adapter/__tests__/SQLiteUtils.test.ts
  packages/datastore/__tests__/DataStore.ts
  packages/datastore/__tests__/Merger.test.ts
  packages/datastore/__tests__/Predicate.ts
  packages/datastore/__tests__/commonAdapterTests.ts
  packages/datastore/__tests__/connectivityHandling.test.ts
  packages/datastore/__tests__/helpers.ts
  packages/datastore/src/datastore/datastore.ts
  packages/datastore/src/predicates/next.ts
  packages/datastore/src/sync/processors/mutation.ts
Labels: DataStore

#11000 feat(datastore): add support for AppSync RTF
  packages/datastore/__tests__/connectivityHandling.test.ts
  packages/datastore/__tests__/graphql.ts
  packages/datastore/__tests__/helpers.ts
  packages/datastore/__tests__/utils.test.ts
  packages/datastore/package.json
  packages/datastore/src/datastore/datastore.ts
  packages/datastore/src/sync/processors/subscription.ts
  packages/datastore/src/sync/utils.ts
  packages/datastore/src/types.ts
  packages/datastore/tslint.json
Labels: DataStore

#11053 chore(@aws-amplify/datastore): remove handful of `as any` casts
  packages/datastore/src/datastore/datastore.ts
  packages/datastore/src/predicates/index.ts
  packages/datastore/src/predicates/next.ts
  packages/datastore/src/storage/adapter/AsyncStorageAdapter.ts
  packages/datastore/src/storage/storage.ts
  packages/datastore/src/sync/index.ts
  packages/datastore/src/sync/outbox.ts
  packages/datastore/src/sync/processors/mutation.ts
  packages/datastore/src/sync/processors/subscription.ts
  packages/datastore/src/sync/processors/sync.ts
Labels: DataStore

#11027 fix: add warning message when trying to use SQLite with CPK enabled
  packages/datastore-storage-adapter/__tests__/SQLiteAdapter.test.ts
  packages/datastore-storage-adapter/__tests__/SQLiteCPKDisabled.test.ts
  packages/datastore-storage-adapter/__tests__/SQLiteCPKEnabled.test.ts
  packages/datastore-storage-adapter/__tests__/helpers.ts
  packages/datastore-storage-adapter/src/common/CommonSQLiteAdapter.ts
Labels: DataStore
